.title {
  display: block;
  width: 100%;
  padding: 10px 0;
  text-align: center ;
  border-bottom: 1px solid #ccc;
}
.be-careful {
  width: 100%;
  padding: 0 20px 40px;
  margin-bottom: 20px;
  background: #f9f9f9;
}
.be-careful .be-careful-title {
  padding: 5px 0 10px;
  text-align: center;
  font-weight: 800;
}
.be-careful p:last-child {
  padding-left: 40px !important;
}
.be-careful p span {
  color: red;
}
.ensure {
  text-align: center;
  color: #ff6600;
  font-weight: 800;
}
.btn-large {
  width: 100px;
  height: 40px;
  margin: 0 auto;
  line-height: 30px;
  text-align: center;
  border-radius: 5px;
  border: 0;
  background-color: #169be7;
}
