<extend name="Base/common"/>
<block name="body">
    <div class="page-group">
        <div class="page page-current">
            <link rel="stylesheet" href="__CSS__/gowechat.css">
            <header class="bar bar-nav comHead">
                <a external class="iconfont icon-xiangzuojiantou pull-left button button-link" href="{:U('ucenter/member/login')}"></a>
                <a href="javascript:" class="title open-about">微信登录</a>
            </header>
            <div>
                <div class="tanhao">
                    <i class="iconfont icon-tanhao"></i>
                </div>
                <div class="wechat-tip">请在微信客户端打开链接</div>
            </div>
        </div>
    </div>
</block>
