<extend name="Base/common"/>
<block name="css">
    <link rel="stylesheet" href="__CSS__/login.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_d7wp8psve5pl23xr.css">
</block>
<block name="body">
    <div class="loginWrap" >
        <div class="formWrap" style="top:0">
            <div class="content-block">
                <div class="content-block">
                    <form method="post" data-role="form" data-url="{:U('Ucenter/Member/resetPassword')}">
                        <div class="loginInput">
                            <i class="iconfont icon-shouji"></i><input placeholder="手机号" type="text" name="mobile" id="tel" value="">
                        </div>
                        <if condition="modC('SMS_REGISTER_RADIO',0,'USERCONFIG') eq 1">
                            <div class="loginInput row  no-gutter">
                                <div class="col-60"><i class="iconfont icon-yanzhengma"></i><input placeholder="短信验证码" type="text" name="reg_verify" id="verify_code" value=""></div>
                                <div class="col-40"><a href="#" class="vBtn open-about">获取短信验证码</a></div>
                            </div>
                        </if>
                        <div class="btnWrap">
                            <a href="#" data-role="resetPassword" class="comBtn">修改密码</a>
                            <a href="{:U('login')}" class="forgot" external>已有账号？前往登录</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="other">
    <div class="popup popup-about" style="top: 35%">
        <div class="content-block">
            <div class="loginInput row verify no-gutter">
                <div class="col-30"><a href="#" class="textColor">发送验证码至：</a></div>
                <div class="col-70"><input placeholder="" data-role="tel" type="text" disabled></div>
            </div>
            <div class="loginInput row verify no-gutter">
                <div class="col-30"><img class="reloadverify" alt="点击切换" src="{:U('verify')}"></div>
                <div class="col-70"><input placeholder="验证码" type="text" id="verifyCode" value=""></div>
            </div>
            <div class="vBtnWrap row no-gutter">
                <div class="col-50"><a href="#" class="vBtn halfWidth close-popup sendV">取消</a></div>
                <div class="col-50"><a href="#" data-role="sendRestVerify" class="vBtn halfWidth">发送</a></div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script src="__JS__/register.js"></script>
</block>
