<php>
    if(ACTION_NAME=='information'){ $tabClass['user_data'] = 'active'; }
    elseif(ACTION_NAME=='fans'||ACTION_NAME=='following'){ $tabClass['user_fans'] = 'active'; }
    elseif(ACTION_NAME=='ad'){ $tabClass['user_ad'] = 'active'; }
    elseif(ACTION_NAME=='rankverify'||ACTION_NAME=='rank'||ACTION_NAME=='rankverifyfailure'||ACTION_NAME=='rankverifywait'){ $tabClass['user_rank'] = 'active'; }
    else{ $tabClass[$type] = 'active'; }
</php>

        <style>
            .nav.navbar-nav li a.active{
                border-left: 3px solid #1ABC9C;
            }
        </style>
<nav class="navbar navbar-default uc_navbar" role="navigation">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav new-nav">
            <li><a href="{:U('information',array('uid'=>$user_info['uid']))}" class="{$tabClass.user_data}">{:L('_INFO_PEOPLE_')}</a></li>
            <li><a href="{:U('following',array('uid'=>$user_info['uid']))}" class="{$tabClass.user_fans}">{:L('_FOLLOWERS_')}{:L('_USER_')}</a></li>
            <li><a href="{:U('ad',array('uid'=>$user_info['uid']))}" class="{$tabClass.user_ad}">{:L('_USER_')}{:L('_AD_')}</a></li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>