<extend name="Base/common"/>

<block name="style">
    <link href="__CSS__/usercenter.css" rel="stylesheet" type="text/css"/>
</block>
<block name="header">
</block>
<block name="body">
    <div class="col-xs-12 usercenter" style="margin-top: 50px">
        <div class="uc">
            <include file="_top"/>
            <div class="uc-cont">
                <div class="nav-wrap">
                    <include file="_top_menu"/>
                </div>
                <div class="cont-wrap common-cont-wrap">
                    <php>
                        if($user['email']){
                        $email = '<i class="icon icon-check-sign"></i> 已验证';
                        }
                        if($user['mobile']){
                        $mobile = '<i class="icon icon-check-sign"></i> 已验证';
                        }

                    </php>
                    <div class="col-xs-6">
                        <p>注册时间：{$user.reg_time|date='Y-m-d',###}</p>
                        <p>语言：{$user.lang}</p>
                        <p>电子邮件：{$email}</p>
                        <p>电话号码：{$mobile}</p>
                        <p>身份证认证：{$mobile}</p>
                    </div>
                    <div class="col-xs-6">
                        <p>交易量：{$user.btc_count}BTC / {$user.eth_count}ETH</p>
                        <p>已确认的交易次数：{$user.trade_count}</p>
                        <p>平均放行时间：</p>
                        <p>用户评价得分：{$user.trade_score}%</p>
                        <p>最后一次在线：{$user.last_login_time|date='Y-m-d h:i:s',###}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

