.skin-blue .main-header .navbar {
  background: white !important;
  border-bottom: 1px solid #ccc;
}
.skin-blue .main-header .navbar .nav > li > a,
.skin-blue .main-header .navbar .nav > li > i {
  color: #666;
}
.skin-blue .main-header .navbar .nav > li > a:hover,
.skin-blue .main-header .navbar .nav > li > a:active,
.skin-blue .main-header .navbar .nav > li > a:focus,
.skin-blue .main-header .navbar .nav .open > a,
.skin-blue .main-header .navbar .nav .open > a:hover,
.skin-blue .main-header .navbar .nav .open > a:focus,
.skin-blue .main-header .navbar .nav > .active > a {
  color: #666;
}
.skin-blue .main-header .navbar .nav > li > a:hover {
  background: none !important;
}
.skin-black-light .sidebar-menu > li > a {
  font-weight: normal !important;
}
.skin-black-light .main-header > .navbar .navbar-nav > li > a {
  border-right: none;
}
