<extend name="Base/common"/>
<block name="css">
    <link rel="stylesheet" href="__CSS__/identify.css"/>
</block>
<block name="body">
    <div class="page-group">
        <div class="page page-current" style="background-color: #fff">
            <header class="bar bar-nav comHead">
                <a class="iconfont icon-xiangzuojiantou pull-left button button-link back"
                   href="javascript:history.go(-1);"></a>
                <a href="javascript:" class="title">认证</a>
            </header>
            <div class="content">
                <div class="content-block noEdge noShadow">
                    <volist name="attest_type" id="one_type">
                        <div class="type">
                            <a href="{:U('Ucenter/Index/condition',array('id'=>$one_type['id']))}" class="flexDiv oneTp">
                                <div class="flexLeft">
                                    <i class="iconfont icon-iconfontwohover"></i>
                                    <div class="rightDiv">{$one_type['title']}</div>
                                </div>
                                <div class="flexRight"><i class="iconfont icon-enter"></i></div>
                            </a>
                            <div class="power">
                                <p class="idTit">认证特权</p>
                                <ul>
                                    <li>专属认证图标，显示在头像右下角</li>
                                    <li>优先推荐，更多的展示吸粉</li>
                                    <li>各类认证特权项</li>
                                </ul>
                            </div>
                        </div>
                    </volist>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">

</block>