<extend name="Base/common"/>
<block name="css">
    <link rel="stylesheet" href="__CSS__/login.css">
</block>
<block name="body">
    <div class="loginWrap">
        <div class="formWrap topHead-pass">
            <div class="content-block">
                <div class="content-block">
                    <form method="post" data-role="form-reset" data-url="{:U('resetPassword')}">
                        <div class="loginInput">
                            <input placeholder="旧密码" type="password" name="oldPassword" id="oldPassword" value="">
                        </div>
                        <div class="loginInput">
                            <input placeholder="新密码" type="password" name="newPassword" id="newPassword" value="">
                        </div>
                        <div class="loginInput">
                            <input placeholder="重复密码" type="password" name="RenewPassword" id="RenewPassword" value="">
                        </div>
                        <div class="btnWrap">
                            <a href="#" data-role="resetPasswordByPassword" class="comBtn">修改密码</a>

                            <a style="margin-top: 15px" href="javascript:history.go(-1);"  class="comBtn">返回</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script src="__JS__/resetPassword.js"></script>
</block>