
    <div class="tabs">
        <div id="tab0" class="tab active">
            <div class="content-block">
                <volist name="show_list" id="vl" key="type_count">
                    <notempty name="vl.crowd">
                        <include file="_crowdtypelist"/>
                    </notempty>
                </volist>
            </div>
        </div>
        <volist name="crowd_type" id="vl" key="type_count">
            <div id="tab{$type_count}" class="tab">
                <div class="content-block">
                    <notempty name="vl.crowd">
                        <include file="_crowdtypelist"/>
                    </notempty>
                </div>
            </div>
        </volist>
    </div>


