<div class="content">
    <div class="content-block">
        <div class="buttons-row">
            <a href="#tab0" class="tab-link active button">全部</a>
            <volist name="crowd_type" id="vs" key="type_count">
                <a href="#tab{$type_count}" class="tab-link button">{$vs.title}</a>
            </volist>
        </div>
    </div>
    <div class="tabs">
        <div id="tab0" class="tab active">
            <div class="content-block">
                <volist name="show_list" id="vl" key="type_count">
                    <notempty name="vl.crowd">
                        <p class="classification-p"><span class="classification">{$vl.title}</span><a href="#tab{$type_count}" class="tab-link" data-role="tab"><span>全部</span></a></p>
                        <include file="_crowdtypelist"/>
                    </notempty>
                </volist>
            </div>
        </div>
        <volist name="crowd_type" id="vl" key="type_count">
            <div id="tab{$type_count}" class="tab">
                <div class="content-block">
                    <notempty name="vl.crowd">
                        <include file="_crowdtypelist"/>
                    </notempty>
                </div>
            </div>
        </volist>

    </div>
</div>

