.tanhao {
  margin-top: 40px;
  width: 100%;
  text-align: center;
}
.tanhao i {
  color: #10AEFF;
  font-size: 120px;
}
.wechat-tip {
  margin-top: 20px;
  width: 100%;
  font-size: 16px;
  text-align: center;
}
