<empty name="list">
    <div id="empty" class="text-muted text-center" ><i class="icon-inbox"></i> 暂无更多</div>
</empty>

<volist name="list" id="data">
    <li class="qtOne">
        <div class="left">
            <div class="avatar"><img src="{$data.user.avatar128}"/></div>
            <div class="info">
                <p><span>问：</span><span class="qtTitle"><a target="_blank" href="{:U('Question/Index/detail',array('id'=>$data['id']))}">{$data.title|msubstr=0,34,'utf-8',true}</a></span><span class="state">
                    <neq name="data.best_answer" value="0">已结题<else/>待回答</neq>
                </span></p>
                <p class="btInfo"><span class="name">{$data.user.nickname}</span><span>发起提问</span><span>共有{$data.answer_num}个回答</span></p>
            </div>
        </div>
        <div class="right">
            <neq name="data.score_num" value="0">
                <p class="offer">
                    悬赏： {$data.score_num}{$data.leixing_title.title}
                </p>
            </neq>
            <p><i class="iconfont icon-shizhong" style="font-size: 14px"></i><span>{$data.create_time|friendlyDate}</span></p>
        </div>
    </li>
</volist>