<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>微社区升级</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- zui -->
    <link href="__CSS__/zui.css" rel="stylesheet">
    <link rel="stylesheet" href="__CSS__/update.css">
    <script type="text/javascript" src="__PUBLIC__/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/zui.js"></script>
    <script src="__PUBLIC__/com/com.functions.js"></script>
    <script src="__PUBLIC__/com/com.toast.class.js"></script>
    <include file="Public/var"/>
    <script src="__JS__/update.js"></script>
</head>

<body style="background:  rgb(230, 234, 234)">
<div class="container" style="background: white;margin-top: 50px;margin-bottom: 50px;width:800px">
    <div class="with-padding row">
        <ul class="nav nav-secondary">
            <block name="header"></block>
        </ul>
        <div>

        </div>
        <div class="article">
            <block name="body"></block>

            <div>
                <block name="footer"></block>
            </div>
        </div>
    </div>
    <style>
        body{
            font-family: Arial, "Microsoft Yahei",'新宋体';
        }
    </style>

</div>

</body>
</html>
