<extend name="Base/common"/>
<block name="css">
    <link rel="stylesheet" href="__CSS__/schedule.css"/>
</block>
<block name="body">
    <div class="page-group">
        <div class="page page-current">
            <header class="bar bar-nav comHead">
                <a external="" class="iconfont icon-xiangzuojiantou pull-left button button-link" href="javascript:history.go(-1);"></a>
                <a href="javascript:" class="title">我的工单</a>
            </header>
            <include file="./Application/Common/View/default/Base/footer.html"/>
            <div class="content infinite-scroll">
                <div class="content-block noEdge">
                    <div class="buttons-tab">
                        <a href="#tab1"   class="tab-link active button" data-role="on" data-total="">未完成工单</a>
                        <a href="#tab2" class="tab-link button" data-role="finish" data-total="{$count}">已完成工单</a>
                    </div>
                    <div class="mt" data-distance="100" data-ptr-distance="55">
                        <div class="tabs">
                            <ul id="tab1" class="tab active list" data-title="common">
                                <if condition="$ticket eq ''">
                                    <h3 class="noMore">您还没有进行中的工单</h3>

                                    <else />
                                    <volist name="ticket" id="vo">
                                        <li>
                                            <div class="text">
                                                <div class="flexDiv myDiv">{$vo.title}<span>{vo.create_time|date='Y-m-d',###}</span></div>
                                                <span class="lastSpan">{$vo.status}，请前往pc端查看</span>
                                            </div>
                                        </li>
                                    </volist>
                                </if>

                            </ul>
                            <ul id="tab2" class="tab  list" data-title="common">
                                <if condition="$count eq 0">
                                    <h3 class="noMore">您还没提交过工单</h3>
                                `</if>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script src="__JS__/refreshData.js"></script>
    <script>
        $('[data-role="finish"]').click(function () {
            var count=$(this).attr('data-total');
            refreshData('Project/index/ticketList',count,'#tab2',{});
        })
    </script>
</block>