<ul class="news-box" style="list-style: none;padding:5px 10px;margin-bottom: 0;border-bottom: 1px solid #eee">
        <a href="{:U('News/newsdetail',array('id'=>$vl['id']))}">
            <li style="border: none;height: 105px">
                <div class="am-cf am-g" style="padding: 5px;height: 100%">
                    <if condition="$vl['cover_url'] neq no_img">
                        <div class="am-fl am-u-sm-4 am-u-lg-2 am-u-md-3"style="padding: 0px">
                            <img class="am-img-thumbnail am-radius" src="{$vl.cover_url}">
                        </div>
                    </if>
                    <div class="info am-fl am-u-sm-8 am-u-lg-10 am-u-md-9" style="padding: 0 1rem;height: 100%">
                        <div class="half-box" style="padding-top: 0">
                            <h3 class="title am-text-truncate" style="color: #333;font-weight: 400;margin: 0">
                                {$vl.title}
                            </h3>

                        </div>
                        <div class="half-box">
                            <span>阅读 {$vl.view}</span><span style="padding:0 5px">▪</span><span>评论 {$vl.count}</span>
                        </div>
                        <div class="half-box">
                            <!--<img class="avatar-img" style="width: 32px;padding-right: 5px;border-radius: 50px"
                                 src="{$vl.user.avatar32}">-->
                            <span style="color: #00a0e9">{$vl.user.nickname}</span>
                            <span class="time">{$vl.create_time|friendlyDate}</span>
                        </div>
                    </div>
                </div>
            </li>
        </a>
    </ul>

    <style>
        .half-box{
            height: 33.3%;
            width: 100%;
        }
        .half-box span{
            color: #737373;
        }
        .time{
            color: #ccc!important;
            margin-left: 10px;
        }
    </style>