<extend name="Base/mob_common"/>

<block name="mob_body">
    <script src="__JS__/user.js"></script>
    <script src="__JS__/weibo.js"></script>
    <link rel="stylesheet" href="__CSS__/apps/user.css"/>
    <link rel="stylesheet" href="__CSS__/apps/nav.css"/>
    <php>$uid=is_login();</php>
    <div class="navBt">
        <a href="{:U('Mob/Weibo/index')}" class="btBar ">
            <i class="iconfont icon-dongtai2-copy"></i>
            <span>动态</span>
        </a>
        <a href="{:U('Mob/Weibo/crowd')}" class="btBar">
            <i class="iconfont icon-quanzi"></i>
            <span>圈子</span>
        </a>
        <a href="{:U('Mob/Message/index')}" class="btBar">
            <i class="iconfont icon-xiaoxi"></i>
            <span>消息</span>
        </a>
        <a class="btBar active" <if condition="$uid eq 0">href="javascript:toast.error('请先登录！');"
        <else/> href="{:U('Mob/User/index')}" </if> >
        <i class="iconfont icon-wode"></i>
        <span>我</span>
        </a>

    </div>

    <div class="user-container " style="padding:25px 0;">
        <div class="am-g am-g-fixed" style="height: 80px ">
            <div class="head-box am-u-sm-3">
                <!--data-role="chose-avatar"-->
                <a href="{:U('avatar')}">
                    <img  class="am-img-thumbnail am-circle" src="{$user_info.avatar64}"
                     style="width: 70px;height: 70px;margin-top: 5px">
                </a>
            </div>
            <div class="cont-box am-u-sm-6">
                <p class="p0">{$user_info.nickname}</p>

                <p class="p1">
                    <if condition="$user_info['signature'] eq ''">
                        还没想好O(∩_∩)O
                        <else/>
                        <attr title="{$user_info.signature}">{$user_info.signature}</attr>
                    </if></p>

                <p class="p1"><span>粉丝：{$user_info.fans}</span>&nbsp;<span>关注：{$user_info.following}</span>&nbsp;<span>积分：{$user_info.score}</span></p>
            </div>
            <div class="am-u-sm-3 self">
                    {:W('Mob/Follow/follow',array('follow_who'=>$user_info['uid'],'btn-before','btn-after'))}
            </div>
            </div>
        </div>


    </div>
        <div class="tab" style="margin: 7px 0 66px">
            <div class="user-mod " style="margin-bottom: 0;background-color: #E6EFF3">
                <div id="carousel" style="position: relative;height: 37px;">

                    <div id="user-list">
                        <a href="{:U('Mob/User/index',array('tab'=>'ziliao','uid'=>$_GET['uid']))}"
                        <if condition="($_GET['tab'] eq 'ziliao') or ($_GET['tab'] eq 'userdata')"> class="current"</if>
                        >资料</a>
              <!--          <a href="{:U('Mob/User/index',array('tab'=>'userdata','uid'=>$_GET['uid']))}"
                        <if condition="$_GET['tab'] eq 'userdata'"> class="current"</if>
                        >资料</a>-->
                        <a href="{:U('Mob/User/index',array('tab'=>'news','uid'=>$_GET['uid']))}"
                        <if condition="$_GET['tab'] eq 'news'"> class="current"</if>
                        >资讯</a>
                        <a href="{:U('Mob/User/index',array('tab'=>'userhead','uid'=>$_GET['uid']))}"
                        <if condition="$_GET['tab'] eq 'userhead'"> class="current"</if>
                        >头衔</a>

                        <a href="{:U('Mob/User/index',array('tab'=>'focus','uid'=>$_GET['uid']))}"
                        <if condition="$_GET['tab'] eq 'focus'"> class="current"</if>
                        >关注</a>
                        <!--       <li><a>问答</a></li>-->
                    </div>

                </div>
            </div>

            <div id="part-tab-con"style="">
                <div class="imgshow">
                    <div class="ulclass">
                        <if condition="($_GET['tab'] eq 'ziliao') or($_GET['tab'] eq '')">
                            <include file="_ziliao"/>
                        </if>
                    </div>
                    <div class="ulclass">
                        <if condition="$_GET['tab'] eq 'news'">
                            <notempty name="news">
                                <volist name="news" id="vl">
                                    <include file="_mynews"/>
                                </volist>
                                <else/>
                                <div class="am-text-center" style="background-color:#FFFFFF;margin-top: -15px"><img
                                        src="__IMG__/tip.png" style="width: 100%;height: 100%">
                                </div>
                            </notempty>

                        </if>

                    </div>
                    <div>
                        <if condition="$_GET['tab'] eq 'userhead'">
                            <include file="_myrank"/>
                        </if>

                    </div>
                    <div>
                        <if condition="$_GET['tab'] eq 'userdata'">
                            <include file="_myinformation"/>
                        </if>

                    </div>
                    <php>
                        if (is_login()==$uid) {
                    </php>
                    <div>
                        <if condition="$_GET['tab'] eq 'focus'">
                            <include file="_myfollowing"/>
                        </if>
                    </div>
                    <php>
                        }else{
                    </php>
                    <if condition="$_GET['tab'] eq 'focus'">
                        <include file="_otherfollowing"/>
                    </if>
                    <php>
                        }
                    </php>

                </div>
                <if condition="($_GET['tab'] eq 'weibo') or($_GET['tab'] eq '')">
                    <if condition="$weibo[0][pid_count] eq 1">
                        <div class="am-list-news-ft look-more">
                            <a id="getmoreweibolist" data-url="{:U('Mob/User/addMoreWeibo')}" data-role="{$uid}"
                                    >查看更多 &raquo;</a>
                        </div>
                    </if>
                </if>
                <if condition="$_GET['tab'] eq 'news'">
                    <if condition="$news[0][pid_count] eq 1">
                        <div class="am-list-news-ft look-more">
                            <a id="getmorenewslist" data-url="{:U('Mob/User/addMoreNews')}" data-role="{$uid}"
                                    >查看更多 &raquo;</a>
                        </div>
                    </if>
                </if>
            </div>
        </div>

    <script src="__JS__/iscroll.js"></script>
    <script>


        var $carousel = document.getElementById('carousel'),
                $box = document.getElementById('user-list'),

                aArray = $box.querySelectorAll('a'),

                aNum = aArray.length;
        console.log(aNum);
        console.log($("#user-list a:first-child").width());
        $box.style.width = (aNum * $("#user-list a:first-child").width() + 10 + 'px');
        console.log($box.style.width);

        var myScroll = new iScroll('carousel', {
            hideScrollbar: false,
            hScroll: true,
            bounce: true,
            vScroll: false,
            hScrollbar: false

        });

    </script>
</block>
