<meta charset="UTF-8">
<include file="Public/seo"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp"/>

<link rel="stylesheet" href="__PUBLIC__/light7/css/light7.min.css">
<link rel="stylesheet" href="__PUBLIC__/light7/css/light7-swipeout.css">
<link rel="stylesheet" href="__PUBLIC__/light7/css/light7-swiper.min.css">

<link rel="stylesheet" href="__PUBLIC__/css/core.css">
<link rel="stylesheet" href="__PUBLIC__/css/animate.min.css">
<link rel="stylesheet" href="//at.alicdn.com/t/font_196881_waf4skjwgqh69a4i.css">
<block name="css"></block><!--用于加载顶部css和js-->
<include file="Public/var"/>
<script>
    //全局内容的定义
    var  play=false;
    var _LOADING_ = "__IMG__/loading.jpg";
</script>