<extend name="Base/common"/>
<block name="style">
    <link href="__CSS__/event.css" rel="stylesheet" type="text/css"/>
</block>
<block name="body">
    <div class="white-popup1 boxShadowBorder col-xs-12" style="">
        <h2>{:L('_AD_TITLE_')}</h2>
        <if condition="!is_login()"><div class="alert alert-danger with-icon" style="margin-top: 10px"><i class="icon-warning-sign"></i><div class="content">在创建广告前，请<a class="alert-link" href="{:U('ucenter/member/login')}">登录</a>或<a class="alert-link" href="{:U('ucenter/member/register')}">注册</a>。</div></div></if>
        <p>{:L('_AD_TIPS1_')}</p>
        <p>{:L('_AD_TIPS2_')}</p>
        <p>{:L('_AD_TIPS3_')}</p>
        <p>{:L('_AD_TIPS4_')}</p>
        <p>{:L('_AD_TIPS5_')}</p>
        <p>{:L('_AD_TIPS6_')}</p>

        <h2 style="margin-top: 30px;color: #1798F2">基础选项</h2>
        <div class="aline" style="margin-bottom: 35px"></div>
        <div>
            <div class="row">
                <div style="padding: 0 10px;width: 100%;float: left;">
                    <form class="form-horizontal ajax-form" action="{:U('Ad/Index/doPost')}" method="post">
                        <input type="hidden" name="id" value="{$id}">
                        <div class="form-group">
                            <div class="col-xs-2">
                                <label class="required">{:L('_AD_COIN_TYPE_LABEL_')}</label>
                            </div>
                            <div class="col-xs-10">
                                <label> <input name="coin_type" value="1" type="radio" <if condition="$isNew">checked<elseif condition="$ad['coin_type'] eq 1" />checked</if> /> BTC</label>
                                <label class="ad_magrain40"> <input name="coin_type" value="2" type="radio" <if condition="$ad['coin_type'] eq 2">checked</if>/> ETH</label>
                                <div style="color: #B9C5CF;margin-top: 10px"><i class="icon icon-question-sign"></i>&nbsp;此广告的币种（BTC或ETH）。</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-2">
                                <label class="required">{:L('_AD_TYPE_LABEL_')}</label>
                            </div>
                            <div class="col-xs-10">
                                <label> <input name="type" value="1" type="radio" <if condition="$isNew">checked<elseif condition="$ad['type'] eq 1"/>checked</if>/> {:L('_AD_ONLINE_SELL_')}</label>
                                <label class="ad_magrain40"> <input name="type" value="2" type="radio" <if condition="$ad['type'] eq 2">checked</if>/> {:L('_AD_ONLINE_BUY_')}</label>
                                <label class="ad_magrain40"> <input name="type" value="3" type="radio" <if condition="$ad['type'] eq 3">checked</if>/> {:L('_AD_LOCAL_SELL_')}</label>
                                <label class="ad_magrain40"> <input name="type" value="4" type="radio" <if condition="$ad['type'] eq 4">checked</if>/> {:L('_AD_LOCAL_BUY_')}</label>
                                <div style="color: #B9C5CF;margin-top: 10px"><i class="icon icon-question-sign"></i>&nbsp;您想要创建什么样的交易广告？</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-2" style="margin-top: 10px">
                                <label class="required">{:L('_AD_COUNTRY_LABEL_')}</label>
                            </div>
                            <div class="col-xs-6">
                                <select name="country" class="select2" style="width: 100%">
                                    <volist name="country" id="top">
                                        <option value="{$top.id}" <if condition="$isNew && $defaultCountry eq $top['id']">selected<elseif condition="$ad['country'] eq $top['id']"/>selected</if>>
                                            {$top.code} {$top.name}
                                        </option>
                                    </volist>
                                </select>
                                <div style="color: #B9C5CF;margin-top: 10px"><i class="icon icon-question-sign"></i>&nbsp;请选择您发布广告所在的国家/地区。</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-2" style="margin-top: 10px">
                                <label class="required">{:L('_AD_CURRENCY_LABEL_')}</label>
                            </div>
                            <div class="col-xs-6">
                                <select name="currency" class="select2" style="width: 100%">
                                    <volist name="currency" id="top">
                                        <option value="{$top.code}" <if condition="$isNew && $defaultCurrency eq $top['code']">selected<elseif condition="$ad['currency'] eq $top['code']"/>selected</if>>
                                            {$top.code}
                                        </option>
                                    </volist>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-2" style="margin-top: 10px">
                                <label class="required">{:L('_AD_MARKET_LABEL_')}</label>
                            </div>
                            <div class="col-xs-6">
                                <select name="market" class="select2" style="width: 100%">
                                    <volist name="market" id="top">
                                        <option value="{$top.market}" <if condition="$ad['market'] eq $top['market']">selected</if>>
                                        {$top.market}
                                        </option>
                                    </volist>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-2" style="margin-top: 10px">
                                <label class="required">{:L('_AD_PRE_PRICE_LABEL_')}</label>
                            </div>
                            <div class="col-xs-6">
                                <div class="input-group input-group-lg">
                                    <input type="text" class="form-control form_check" value="{$ad['pre_price']|default='2'}" name="pre_price" check-type="IntNum">
                                    <span class="input-group-addon">%</span>
                                </div>
                                <div style="color: #B9C5CF;margin-top: 10px"><i class="icon icon-question-sign"></i>&nbsp;输入溢价比例，会根据部分大型交易所实时价格计算出价格，比如当前价格为20000，溢价比例为10%，那么价格为22000。</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-2" style="margin-top: 10px">
                                <label class="required">{:L('_AD_FORMULA_LABEL_')}</label>
                            </div>
                            <div class="col-xs-6">
                                <div class="input-group input-group-lg" style="width: 100%">
                                    <input type="text" class="form-control" value="{$ad['formula']}" name="formula">
                                    <input type="hidden" name="price" value="">
                                </div>
                                <div style="color: #B9C5CF;margin-top: 10px"><i class="icon icon-question-sign"></i>&nbsp;交易价格：<span class="marketPrice" style="color: red"></span>&nbsp;根据溢价比例得出的报价，10分钟更新一次。</div>
                            </div>
                        </div>

                        <div class="form-group pay_addr" <if condition="$ad['type'] ==1 or $ad['type'] ==2 or $ad['type'] ==null" >style="display: none"</if>>
                            <div class="col-xs-2" style="margin-top: 10px">
                                <label class="required">{:L('_AD_PAY_ADDRESS_LABEL_')}</label>
                            </div>
                            <div class="col-xs-6">
                                <div class="input-group input-group-lg" style="width: 100%">
                                    <input type="text" class="form-control" value="{$ad['pay_addr']}" name="pay_addr">
                                </div>
                                <div style="color: #B9C5CF;margin-top: 10px"><i class="icon icon-question-sign"></i>&nbsp;广告交易的见面地点，例如咖啡厅。</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-2" style="margin-top: 10px">
                                <label class="required">{:L('_AD_MIN_PRICE_LABEL_')}</label>
                            </div>
                            <div class="col-xs-6">
                                <div class="input-group input-group-lg">
                                    <input type="text" class="form-control form_check" value="{$ad['min_price']}" name="min_price" check-type="IntNum">
                                    <span class="input-group-addon label-currency">{$defaultCurrency}</span>
                                </div>
                                <div style="color: #B9C5CF;margin-top: 10px"><i class="icon icon-question-sign"></i>&nbsp;每笔交易的最低限额。</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-2" style="margin-top: 10px">
                                <label class="required">{:L('_AD_MAX_PRICE_LABEL_')}</label>
                            </div>
                            <div class="col-xs-6">
                                <div class="input-group input-group-lg">
                                    <input type="text" class="form-control form_check" value="{$ad['max_price']}" name="max_price" check-type="IntNum">
                                    <span class="input-group-addon label-currency">{$defaultCurrency}</span>
                                </div>
                                <div style="color: #B9C5CF;margin-top: 10px"><i class="icon icon-question-sign"></i>&nbsp;每笔交易的最大限额，必须大于最小限额，您的钱包余额会影响最大额度的设置。</div>
                            </div>
                        </div>

                        <div class="form-group pay_time">
                            <div class="col-xs-2" style="margin-top: 10px">
                                <label class="required">{:L('_AD_PAY_TIME_LABEL_')}</label>
                            </div>
                            <div class="col-xs-6">
                                <div class="input-group input-group-lg">
                                    <input type="text" class="form-control form_check" value="<if condition="$ad['pay_time'] gt 0">{$ad['pay_time']}<else/>180</if>" name="pay_time" check-type="IntNum">
                                    <span class="input-group-addon">分钟</span>
                                </div>
                                <div style="color: #B9C5CF;margin-top: 10px"><i class="icon icon-question-sign"></i>&nbsp;设置广告付款时间期限。</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-2" style="margin-top: 10px">
                                <label class="required">{:L('_AD_PAY_TYPE_LABEL_')}</label>
                            </div>
                            <div class="col-xs-6">
                                <php>
                                    $typeArray = explode(',',$ad['pay_type']);
                                </php>
                                <select name="pay_type[]" class="chosen-select select2" multiple="multiple" style="width: 100%">
                                    <volist name="payType" id="top">
                                        <option value="{$top.id}" <if condition="in_array($top['id'],$typeArray)">selected</if>>
                                            {$top.name}
                                        </option>
                                    </volist>
                                </select>
                            </div>
                        </div>

                <div class="form-group">
                    <div class="col-xs-2">
                        <label>{:L('_AD_PAY_REMARK_LABEL_')}</label>
                    </div>
                    <div class="col-xs-6">
                        <php>
                            $pay_remark = str_replace("<br>","\n",$ad['pay_remark'])
                        </php>
                        <textarea name="pay_remark" class="text form-control" placeholder="{:L('_AD_PAY_REMARK_TIPS_LABEL_')}" style="height: 8em;height: 100px">{$pay_remark}</textarea>
                    </div>
                </div>

                        <div class="form-group">
                            <div class="col-xs-2">
                                <label>{:L('_AD_PAY_TEXT_LABEL_')}</label>
                            </div>
                            <div class="col-xs-6">
                                <php>
                                    $pay_text = str_replace("<br>","\n",$ad['pay_text'])
                                </php>
                                <textarea name="pay_text" class="text form-control" placeholder="{:L('_AD_PAY_TEXT_TIPS_LABEL_')}" style="height: 8em;height: 160px">{$pay_text}</textarea>
                            </div>
                        </div>

                        <h2 style="margin-top: 30px"><a href="#collapseExample" data-toggle="collapse" style="color: #1798F2">显示高级选项...</a></h2>
                        <div class="aline" style="margin-bottom: 35px"></div>
                        <div class="collapse" id="collapseExample">
                            <div class="form-group">
                                <div class="col-xs-2">
                                    <label>{:L('_AD_MESSAGE_LABEL_')}</label>
                                </div>
                                <div class="col-xs-6">
                                    <textarea name="auto_mesage" class="text input-large form-control" style="height: 8em;height: 100px">{$ad['auto_mesage']}</textarea>
                                    <div style="color: #B9C5CF;margin-top: 10px"><i class="icon icon-question-sign"></i>&nbsp;用户通过此广告向您发起交易时，系统自动将您选择的自动回复用语发送给对方。</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-2">
                                    <label>{:L('_AD_SAFE_LABEL_')}</label>
                                </div>
                                <div class="col-xs-10">
                                    <label> <input name="is_safe" value="1" type="radio" <if condition="$ad['is_safe'] eq 1">checked</if>/> {:L('_AD_OPEN_')}</label>&nbsp;&nbsp;&nbsp;
                                    <label class=""> <input name="is_safe" value="0" type="radio" <if condition="$ad['is_safe'] eq 0">checked</if>/> {:L('_AD_CLOSE_')}</label>
                                    <div style="color: #B9C5CF;margin-top: 10px"><i class="icon icon-question-sign"></i>&nbsp;启用后，仅限于已验证身份证和通过短信验证的用户与本广告交易。</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-2">
                                    <label>{:L('_AD_TRUST_LABEL_')}</label>
                                </div>
                                <div class="col-xs-10">
                                    <label> <input name="is_trust" value="1" type="radio" <if condition="$ad['is_trust'] eq 1">checked</if>/> {:L('_AD_OPEN_')}</label>&nbsp;&nbsp;&nbsp;
                                    <label class=""> <input name="is_trust" value="0" type="radio" <if condition="$ad['is_trust'] eq 0">checked</if>/> {:L('_AD_CLOSE_')}</label>
                                    <div style="color: #B9C5CF;margin-top: 10px"><i class="icon icon-question-sign"></i>&nbsp;启用后，仅限于自己信任的用户与本广告交易。</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-2">
                                    <label>{:L('_AD_OPEN_TIME_LABEL_')}</label>
                                </div>
                                <div class="col-xs-10">
                                    <div style="color: #B9C5CF;margin-top: 10px"><i class="icon icon-question-sign"></i>&nbsp;您希望广告自动展示和隐藏的天数和小时数。</div>
                                </div>
                            </div>

                            <div class="opentime">
                                <div class="form-group">
                                    <!--星期日-->
                                    <div class="col-xs-2">
                                        <label>{:L('_AD_SUNDAY_LABEL_')}</label>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="input-group input-group-lg">
                                            <select name="start0" class="form-control ">
                                                <option value="-2" <if condition="$ad[start0] eq -2">selected</if>>
                                                {:L('_START_TIME_')}
                                                </option>
                                                <option value="-1" <if condition="$ad[start0] eq -1">selected</if>>
                                                {:L('_CLOSE_TIME_')}
                                                </option>
                                                <volist name="time" id="top">
                                                    <option value="{$top.id}" <if condition="($ad[start0] eq $top['id']) and !$isNew">selected</if>>
                                                    {$top.time}
                                                    </option>
                                                </volist>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="input-group input-group-lg">
                                            <select name="end0" class="form-control ">
                                                <option value="25" <if condition="$ad[end0] eq 25">selected</if>>
                                                {:L('_END_TIME_')}
                                                </option>
                                                <option value="-1" <if condition="$ad[end0] eq -1">selected</if>>
                                                {:L('_CLOSE_TIME_')}
                                                </option>
                                                <volist name="time" id="top">
                                                    <option value="{$top.id}" <if condition="$ad[end0] eq $top['id'] and !$isNew">selected</if>>
                                                    {$top.time}
                                                    </option>
                                                </volist>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <!--星期一-->
                                    <div class="col-xs-2">
                                        <label>{:L('_AD_MONDAY_LABEL_')}</label>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="input-group input-group-lg">
                                            <select name="start1" class="form-control ">
                                                <option value="-2" <if condition="$ad[start1] eq -2">selected</if>>
                                                {:L('_START_TIME_')}
                                                </option>
                                                <option value="-1" <if condition="$ad[start1] eq -1">selected</if>>
                                                {:L('_CLOSE_TIME_')}
                                                </option>
                                                <volist name="time" id="top">
                                                    <option value="{$top.id}" <if condition="$ad[start1] eq $top['id'] and !$isNew">selected</if>>
                                                    {$top.time}
                                                    </option>
                                                </volist>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="input-group input-group-lg">
                                            <select name="end1" class="form-control ">
                                                <option value="25" <if condition="$ad[end1] eq 25">selected</if>>
                                                {:L('_END_TIME_')}
                                                </option>
                                                <option value="-1" <if condition="$ad[end1] eq -1">selected</if>>
                                                {:L('_CLOSE_TIME_')}
                                                </option>
                                                <volist name="time" id="top">
                                                    <option value="{$top.id}" <if condition="$ad[end1] eq $top['id'] and !$isNew">selected</if>>
                                                    {$top.time}
                                                    </option>
                                                </volist>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!--星期二-->
                                    <div class="col-xs-2">
                                        <label>{:L('_AD_TUESDAY_LABEL_')}</label>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="input-group input-group-lg">
                                            <select name="start2" class="form-control ">
                                                <option value="-2" <if condition="$ad[start2] eq -2">selected</if>>
                                                {:L('_START_TIME_')}
                                                </option>
                                                <option value="-1" <if condition="$ad[start2] eq -1">selected</if>>
                                                {:L('_CLOSE_TIME_')}
                                                </option>
                                                <volist name="time" id="top">
                                                    <option value="{$top.id}" <if condition="$ad[start2] eq $top['id'] and !$isNew">selected</if>>
                                                    {$top.time}
                                                    </option>
                                                </volist>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="input-group input-group-lg">
                                            <select name="end2" class="form-control ">
                                                <option value="25" <if condition="$ad[end2] eq 25">selected</if>>
                                                {:L('_END_TIME_')}
                                                </option>
                                                <option value="-1" <if condition="$ad[end2] eq -1">selected</if>>
                                                {:L('_CLOSE_TIME_')}
                                                </option>
                                                <volist name="time" id="top">
                                                    <option value="{$top.id}" <if condition="$ad[end2] eq $top['id'] and !$isNew">selected</if>>
                                                    {$top.time}
                                                    </option>
                                                </volist>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!--星期三-->
                                    <div class="col-xs-2">
                                        <label>{:L('_AD_WEDNESDAY_LABEL_')}</label>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="input-group input-group-lg">
                                            <select name="start3" class="form-control ">
                                                <option value="-2" <if condition="$ad[start3] eq -2">selected</if>>
                                                {:L('_START_TIME_')}
                                                </option>
                                                <option value="-1" <if condition="$ad[start3] eq -1">selected</if>>
                                                {:L('_CLOSE_TIME_')}
                                                </option>
                                                <volist name="time" id="top">
                                                    <option value="{$top.id}" <if condition="$ad[start3] eq $top['id'] and !$isNew">selected</if>>
                                                    {$top.time}
                                                    </option>
                                                </volist>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="input-group input-group-lg">
                                            <select name="end3" class="form-control ">
                                                <option value="25" <if condition="$ad[end3] eq 25">selected</if>>
                                                {:L('_END_TIME_')}
                                                </option>
                                                <option value="-1" <if condition="$ad[end3] eq -1">selected</if>>
                                                {:L('_CLOSE_TIME_')}
                                                </option>
                                                <volist name="time" id="top">
                                                    <option value="{$top.id}" <if condition="$ad[end3] eq $top['id'] and !$isNew">selected</if>>
                                                    {$top.time}
                                                    </option>
                                                </volist>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!--星期四-->
                                    <div class="col-xs-2">
                                        <label>{:L('_AD_THURSDAY_LABEL_')}</label>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="input-group input-group-lg">
                                            <select name="start4" class="form-control ">
                                                <option value="-2" <if condition="$ad[start4] eq -2">selected</if>>
                                                {:L('_START_TIME_')}
                                                </option>
                                                <option value="-1" <if condition="$ad[start4] eq -1">selected</if>>
                                                {:L('_CLOSE_TIME_')}
                                                </option>
                                                <volist name="time" id="top">
                                                    <option value="{$top.id}" <if condition="$ad[start4] eq $top['id'] and !$isNew">selected</if>>
                                                    {$top.time}
                                                    </option>
                                                </volist>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="input-group input-group-lg">
                                            <select name="end4" class="form-control ">
                                                <option value="25" <if condition="$ad[end4] eq 25">selected</if>>
                                                {:L('_END_TIME_')}
                                                </option>
                                                <option value="-1" <if condition="$ad[end4] eq -1">selected</if>>
                                                {:L('_CLOSE_TIME_')}
                                                </option>
                                                <volist name="time" id="top">
                                                    <option value="{$top.id}" <if condition="$ad[end4] eq $top['id'] and !$isNew">selected</if>>
                                                    {$top.time}
                                                    </option>
                                                </volist>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!--星期五-->
                                    <div class="col-xs-2">
                                        <label>{:L('_AD_FRIDAY_LABEL_')}</label>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="input-group input-group-lg">
                                            <select name="start5" class="form-control ">
                                                <option value="-2" <if condition="$ad[start5] eq -2">selected</if>>
                                                {:L('_START_TIME_')}
                                                </option>
                                                <option value="-1" <if condition="$ad[start5] eq -1">selected</if>>
                                                {:L('_CLOSE_TIME_')}
                                                </option>
                                                <volist name="time" id="top">
                                                    <option value="{$top.id}" <if condition="$ad[start5] eq $top['id'] and !$isNew">selected</if>>
                                                    {$top.time}
                                                    </option>
                                                </volist>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="input-group input-group-lg">
                                            <select name="end5" class="form-control ">
                                                <option value="25" <if condition="$ad[end5] eq 25">selected</if>>
                                                {:L('_END_TIME_')}
                                                </option>
                                                <option value="-1" <if condition="$ad[end5] eq -1">selected</if>>
                                                {:L('_CLOSE_TIME_')}
                                                </option>
                                                <volist name="time" id="top">
                                                    <option value="{$top.id}" <if condition="$ad[end5] eq $top['id'] and !$isNew">selected</if>>
                                                    {$top.time}
                                                    </option>
                                                </volist>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!--星期六-->
                                    <div class="col-xs-2">
                                        <label>{:L('_AD_SATURDAY_LABEL_')}</label>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="input-group input-group-lg">
                                            <select name="start6" class="form-control ">
                                                <option value="-2" <if condition="$ad[start6] eq -2">selected</if>>
                                                {:L('_START_TIME_')}
                                                </option>
                                                <option value="-1" <if condition="$ad[start6] eq -1">selected</if>>
                                                {:L('_CLOSE_TIME_')}
                                                </option>
                                                <volist name="time" id="top">
                                                    <option value="{$top.id}" <if condition="$ad[start6] eq $top['id'] and !$isNew">selected</if>>
                                                    {$top.time}
                                                    </option>
                                                </volist>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="input-group input-group-lg">
                                            <select name="end6" class="form-control ">
                                                <option value="25" <if condition="$ad[end6] eq 25">selected</if>>
                                                {:L('_END_TIME_')}
                                                </option>
                                                <option value="-1" <if condition="$ad[end6] eq -1">selected</if>>
                                                {:L('_CLOSE_TIME_')}
                                                </option>
                                                <volist name="time" id="top">
                                                    <option value="{$top.id}" <if condition="$ad[end6] eq $top['id'] and !$isNew">selected</if>>
                                                    {$top.time}
                                                    </option>
                                                </volist>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="aline" style="margin-bottom: 35px"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-2 col-md-offset-2">
                                <button type="submit" class="btn btn-primary btn-lg" style="outline: none">{:L('_AD_SUBMIT_LABEL_')}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <link href="__CSS__/form_check.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__JS__/form_check.js"></script>
    <link rel="stylesheet" href="__CSS__/select2.css">
    <script src="__JS__/select2.js"></script>
    <link rel="stylesheet" href="__CSS__/components.css">
    <script>
        $("input[name='type']").click(function () {
            var type = $(this).val();
            if(type == 1){
                $(".pay_addr").css('display','none');
            }else if(type == 2){
                $(".pay_addr").css('display','none');
            }else if(type == 3){
                $(".pay_addr").css('display','block');
                $(".pay_time").css('display','none');
            }else if(type == 4){
                $(".pay_addr").css('display','block');
                $(".pay_time").css('display','none');
            }
        });
        $("input[name='pre_price']").blur(function () {
            var prePrice = $(this).val();
            var currency = $("select[name='currency']").val();
            if(prePrice == null || prePrice.length == 0){
                return;
            }
            var formula = $("input[name='formula']").val();
            var i = formula.lastIndexOf('*');
            formula = formula.substr(0,i);
            prePrice /= 100;
            prePrice += 1;
            prePrice = parseFloat(prePrice.toFixed(2));
            formula += "*"+prePrice;
            getMarketPrice(currency,formula);
            $("input[name='formula']").val(formula);
        });
        $(function(){
            $(".select2").select2();
        })

        $("select[name='currency']").change(function () {
            var currency = $(this).val();
            $(".label-currency").text(currency);
            var market = $("select[name='market']").val();
            var prePrice = $("input[name='pre_price']").val();
            $.post('{:U("ad/index/getFormula")}', {market:market,currency:currency}, success);
            return false;
            function success(data) {
                prePrice /= 100;
                prePrice += 1;
                prePrice = parseFloat(prePrice.toFixed(2));
                var formula = data+"*"+prePrice;
                getMarketPrice(currency,formula);
                $("input[name='formula']").val(formula);
            }
        });

        $("select[name='market']").change(function () {
            var market = $(this).val();
            var currency = $("select[name='currency']").val();
            var prePrice = Number($("input[name='pre_price']").val());
            $.post('{:U("ad/index/getFormula")}', {market:market,currency:currency}, success);
            return false;
            function success(data) {
                prePrice /= 100;
                prePrice += 1;
                prePrice = parseFloat(prePrice.toFixed(2));
                var formula = data+"*"+prePrice;
                getMarketPrice(currency,formula);
                $("input[name='formula']").val(formula);
            }
        });

        $(".btn-lg").click(function () {
            var start0 = Number($("select[name='start0']").val());
            var end0 = Number($("select[name='end0']").val());
            if(start0 >= 0 && end0 == 25){
                timeError();
                return false;
            }else if(start0 == -2 && (end0 <25 && end0>=0)){
                timeError();
                return false;
            }else if(start0 >= end0 && start0 >=0){
                timeError();
                return false;
            }
            var start1 = Number($("select[name='start1']").val());
            var end1 = Number($("select[name='end1']").val());
            if(start1 >= 0 && end1 == 25){
                timeError();
                return false;
            }else if(start1 == -2 && (end1 <25 && end1>=0)){
                timeError();
                return false;
            }else if(start1 >= end1 && start1 >=0){
                timeError();
                return false;
            }
            var start2 = Number($("select[name='start2']").val());
            var end2 = Number($("select[name='end2']").val());
            if(start2 >= 0 && end2 == 25){
                timeError();
                return false;
            }else if(start2 == -2 && (end2 <25 && end2>=0)){
                timeError();
                return false;
            }else if(start2 >= end2 && start2 >=0){
                timeError();
                return false;
            }
            var start3 = Number($("select[name='start3']").val());
            var end3 = Number($("select[name='end3']").val());
            if(start3 >= 0 && end3 == 25){
                timeError();
                return false;
            }else if(start3 == -2 && (end3 <25 && end3>=0)){
                timeError();
                return false;
            }else if(start3 >= end3 && start3 >=0){
                timeError();
                return false;
            }
            var start4 = Number($("select[name='start4']").val());
            var end4 = Number($("select[name='end4']").val());
            if(start4 >= 0 && end4 == 25){
                timeError();
                return false;
            }else if(start4 == -2 && (end4 <25 && end4>=0)){
                timeError();
                return false;
            }else if(start4 >= end4 && start4 >=0){
                timeError();
                return false;
            }
            var start5 = Number($("select[name='start5']").val());
            var end5 = Number($("select[name='end5']").val());
            if(start5 >= 0 && end5 == 25){
                timeError();
                return false;
            }else if(start5 == -2 && (end5 <25 && end5>=0)){
                timeError();
                return false;
            }else if(start5 >= end5 && start5 >=0){
                timeError();
                return false;
            }
            var start6 = Number($("select[name='start6']").val());
            var end6 = Number($("select[name='end6']").val());
            if(start6 >= 0 && end6 == 25){
                timeError();
                return false;
            }else if(start6 == -2 && (end6 <25 && end6>=0)){
                timeError();
                return false;
            }else if(start6 >= end6 && start6 >=0){
                timeError();
                return false;
            }
        });

        function timeError() {
            toast.error("请选择正确的广告开放时间");
        }

        $(".opentime select").change(function () {
           var time = Number($(this).val());
           if(time == -1){
               var name = $(this).attr('name');
               if(name == 'start0'){
                    $("select[name='end0']").val('-1');
               }else if(name == 'end0'){
                   $("select[name='start0']").val('-1');
               }else if(name == 'start1'){
                   $("select[name='end1']").val('-1');
               }else if(name == 'end1'){
                   $("select[name='start1']").val('-1');
               }else if(name == 'start2'){
                   $("select[name='end2']").val('-1');
               }else if(name == 'end2'){
                   $("select[name='start2']").val('-1');
               }else if(name == 'start3'){
                   $("select[name='end3']").val('-1');
               }else if(name == 'end3'){
                   $("select[name='start3']").val('-1');
               }else if(name == 'start4'){
                   $("select[name='end4']").val('-1');
               }else if(name == 'end4'){
                   $("select[name='start4']").val('-1');
               }else if(name == 'start5'){
                   $("select[name='end5']").val('-1');
               }else if(name == 'end5'){
                   $("select[name='start5']").val('-1');
               }else if(name == 'start6'){
                   $("select[name='end6']").val('-1');
               }else if(name == 'end6'){
                   $("select[name='start6']").val('-1');
               }
           }
        });

        initFormula();
        function initFormula() {
            var market = $("select[name='market']").val();
            var currency = $("select[name='currency']").val();
            var prePrice = Number($("input[name='pre_price']").val());
            $.post('{:U("ad/index/getFormula")}', {market:market,currency:currency}, success);
            return false;
            function success(data) {
                prePrice /= 100;
                prePrice += 1;
                prePrice = parseFloat(prePrice.toFixed(2));
                var formula = data+"*"+prePrice;
                getMarketPrice(currency,formula);
                $("input[name='formula']").val(formula);
            }
        }
        
        function getMarketPrice(currency,formula) {
            $.post('{:U("ad/index/getMarketPrice")}', {formula:formula}, success);
            return false;
            function success(data) {
                var coinType = Number($("input[name='coin_type']:checked").val());
                $("input[name='price']").val(data);
                $(".marketPrice").text(data+" "+currency+"/"+(coinType==1?'BTC':'ETH'));
            }
        }

    </script>
</block>