<extend name="Base/common"/>
<block name="css">
    <link rel="stylesheet" href="__CSS__/index.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/ext/wangeditor/css/wangEditor-mobile.css">
    <link rel="stylesheet" href="__PUBLIC__/ext/webuploader/webuploader.css"/>
</block>
<block name="body">
    <div class="page-group">
        <div class="page page-current">
            <header class="bar bar-nav comHead">
                <a class="fl button button-link back" href="javascript:history.go(-1);">取消</a>
                <a href="javascript:" class="title">提问</a>
            </header>
            <div class="content">
                <div class="content-block noEdge">
                    <form novalidate="novalidate" id="add_crowd"  method="post" class="sui-form form-horizontal external" data-url="{:U('Question/Index/ask')}">
                        <input type="hidden" name="crowd_id" value="{$crowd['id']}"/>
                        <div class="mainInfo">
                            <div class="cTitle">
                                <input type="text" name="title" minlength="1" value="{$crowd.title}" placeholder="标题" required/>
                            </div>
                            <div class="cDesc">
                                <textarea name="intro" placeholder="描述一下你的问题" required rows="3" style="border-bottom: 1px solid #eee">{$crowd.intro}</textarea>
                                <div class="addCover">
                                    <!--上传图片之后-->
                                    <if condition="$logo">
                                        <div class="cover">
                                            <img src="{$crowd.logo|getThumbImageById=160,160}" alt="">
                                            <p class="fTitle">图片</p>
                                            <!--<a href="javascript:" class="close" data-role="delete_cover">x</a>-->
                                        </div>
                                    </if>

                                    <!--上传按钮  图片上传完成之后隐藏-->
                                    <div class="addBtn flexWrap" data-role="add_cover">
                                        <div>
                                            <p><i class="iconfont icon-shangchuan"></i></p>
                                            <p>添加图片<br>(最多5张)</p>
                                        </div>
                                    </div>
                                    <input type="hidden" name="image" id="image"/>
                                    <div class="img-list" style="display: none">
                                        <div class="add-img-btn img-btn-sit">
                                            <div class="iconfont icon-fabu1 text-center img-add"></div>
                                            <input name="files" class="img-input" style="" id="choose" data-url="/bu/index.php?s=/core/file/uploadpicturebase64.html" multiple="" type="file">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="askOther">
                            <div class="list-block noEdge">
                                <ul>
                                    <li class="item-content item-link">
                                        <div class="item-media"><i class="icon icon-f7"></i></div>
                                        <div class="item-inner">
                                            <div class="item-title">问题分类</div>
                                            <div class="item-after">
                                                <input type="text" data-role="chose_type" value="{$list.type_id.title}" placeholder="选择分类" id="picker" readonly="">
                                                <input type="hidden" name="type_id" data-role="crowd_type" value="{$crowd.type_id}"/>
                                                <div style="display: none">
                                                    <volist name="type" id="vo">
                                                        <span class="crowd_by_id">{$vo.id}</span>
                                                        <span class="crowd_by_title">{$vo.title}</span>
                                                    </volist>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="item-content item-link">
                                        <input type="hidden" name="reward-type" data-role="reward-type"/>
                                        <input type="hidden" name="reward-num" data-role="reward-num"/>
                                        <p><span data-role="reward">点击选择悬赏(选填,发布以后会直接扣除悬赏金额)</span></p>
                                    </li>
                                    <li class="item-content item-link">
                                        <input type="text" readonly="readonly" name="reward-type" data-role="reward-type"/>
                                    </li>
                                    <li class="item-content item-link">
                                        <input type="text" readonly="readonly" name="reward-num" data-role="reward-num"/>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--创建按钮-->
                        <div class="complete">
                            <a href="javascript:" data-role="ask" class="cBtn" onclick="askQuestion()">确定发布</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="other">

</block>
<block name="script">
    <script src="__JS__/question.js"></script>
    <script src="__PUBLIC__/js/lrz.mobile.min.js"></script>
    <script src="__PUBLIC__/js/uploadimg.js"></script>
    <script>
        //完成提问
        function askQuestion() {
            $('[data-role="ask"]').removeAttr("onclick");
            var data = $("#add_crowd").serialize();
            var url = $("#add_crowd").attr('data-url');
            $.post(url,{data:data}, function (res) {
                if (res.status==1){
                    $.toast(res.info);
                    setTimeout(function () {
                        location.href=res.url;
                    },1500);
                }else{
                    $.toast(res.info);
                    $('[data-role="ask"]').attr("onclick","askQuestion()");
                }
            });
        }
    </script>
</block>