<div class="common_block_border event_right">
    <div class="common_block_title_right" style="text-align: center;">
        <php>
            $avatar = query_avatar($vo['uid']);
            if($avatar){
            $img = substr($avatar['path'],0,strlen($avatar['path'])-4);$img.='_64_64.jpg';
            }else{
            $img = 'default_64_64.jpg';
            }
        </php>
        <div><a href=""><img src="__ROOT__/Uploads/Avatar/{$img}" class="img-circle" style="padding-right: 10px"></a></div>
        <div><label><a href="" style="color: cornflowerblue">{$tradead.nickname}</a></label></div>
        <div style="margin-top: 20px;color: cornflowerblue">
            <span><i class="icon icon-envelope icon-2x pad10"></i></span><span><i class="icon icon-phone icon-2x pad10"></i></span><span><i class="icon icon-user icon-2x pad10"></i></span>
        </div>
        <div style="margin-top: 20px">
            <p>信任人数：{$tradead.fans}</p>
            <p>好评：{$tradead.trade_score}%</p>
            <p>交易次数：{$tradead.trade_count}</p>
            <p>平均放行：10分钟</p>
        </div>
    </div>
</div>

<div class="common_block_border event_right">
    <div class="common_block_title_right" style="text-align: center;">
        <div><label>开放时间</label></div>
        <php>
            $openTime = json_decode($tradead['open_time']);
        </php>
        <div style="margin-top: 20px;text-align: left">
            <p>星期日：
                <php>if($openTime->st7 == '-1'){
                        echo '关闭';
                    }else{
                        echo $openTime->st7." - ".$openTime->et7;
                    }
                </php></p>
            <p>星期一：<php>
                if($openTime->st5 == '-1'){
                echo '关闭';
                }else{
                echo $openTime->st5." - ".$openTime->et5;
                }
            </php></p>
            <p>星期二：<php>
                if($openTime->st4 == '-1'){
                echo '关闭';
                }else{
                echo $openTime->st4." - ".$openTime->et4;
                }
            </php></p>
            <p>星期三：<php>
                if($openTime->st3 == '-1'){
                echo '关闭';
                }else{
                echo $openTime->st3." - ".$openTime->et3;
                }
            </php></p>
            <p>星期四：<php>
                if($openTime->st2 == '-1'){
                echo '关闭';
                }else{
                echo $openTime->st2." - ".$openTime->et2;
                }
            </php></p>
            <p>星期五：<php>
                if($openTime->st1 == '-1'){
                echo '关闭';
                }else{
                echo $openTime->st1." - ".$openTime->et1;
                }
            </php></p>
            <p>星期六：<php>
                if($openTime->st6 == '-1'){
                echo '关闭';
                }else{
                echo $openTime->st6." - ".$openTime->et6;
                }
            </php></p>
        </div>
    </div>
</div>