<extend name="Base/common"/>

<block name="style">
    <link href="__CSS__/event.css" rel="stylesheet" type="text/css"/>
</block>
<block name="header">
    <include file="_nav"/>
</block>
<block name="body">
    <!--导航-->
    <div class="col-xs-9">
        <div class="forum_module" style="min-height: 800px">
            <div class="ad-title">
                <div class="no-event">使用 支付宝 以 Chinese Yuan (CNY) 购买比特币</div>
                <P>LocalBitcoins.com 用户 bobochops 希望出售比特币给您 </P>
            </div>
            <div class="aline" style="margin-bottom: 35px"></div>
            <div class="ad-form">
                <form class="form-horizontal ajax-form" action="{:U('Ad/Index/doPost')}" method="post">
                    <div class="">
                        <div class="col-xs-2">
                            <label>价格：</label>
                        </div>
                        <div class="col-xs-10">
                            <php>$price = number_format($tradead['price'],2);</php>
                            <label> {$price}</label>
                        </div>
                    </div>
                    <div class="">
                        <div class="col-xs-2">
                            <label>付款方式：</label>
                        </div>
                        <div class="col-xs-10">
                            <label> {$tradead['payName']}</label>
                        </div>
                    </div>
                    <div class="">
                        <div class="col-xs-2">
                            <label>交易限额：</label>
                        </div>
                        <div class="col-xs-10">
                            <php>
                                $minPrice = number_format($tradead['min_price']);
                                $maxPrice = number_format($tradead['max_price']);
                            </php>
                            <label> {$minPrice}-{$maxPrice} {$tradead['currency']}</label>
                        </div>
                    </div>
                    <div class="">
                        <div class="col-xs-2">
                            <label>所在地：</label>
                        </div>
                        <div class="col-xs-10">
                            <label> {$tradead['country']}</label>
                        </div>
                    </div>
                    <div class="">
                        <div class="col-xs-2">
                            <label>付款期限：</label>
                        </div>
                        <div class="col-xs-10">
                            <label> {$tradead['pay_time']} 分钟</label>
                        </div>
                    </div>
                    <div class="">
                        <div class="col-xs-12">
                            <label>您想买多少？</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-5">
                            <div class="input-group input-group-lg">
                                <input type="text" class="form-control form_check" name="min_price" check-type="IntNum">
                                <span class="input-group-addon">CNY</span>
                            </div>
                        </div>
                        <div class="col-xs-2" style="text-align: center;padding-top: 5px"><img src="__IMG__/xchange.png" style="width: 20%"></div>
                        <div class="col-xs-5">
                            <div class="input-group input-group-lg">
                                <input type="text" class="form-control form_check" name="min_price" check-type="IntNum">
                                <span class="input-group-addon">CNY</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <textarea name="pay_text" class="text form-control" placeholder="{:L('_AD_PAY_TEXT_TIPS_LABEL_')}" style="height: 8em;height: 100px"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-6 col-md-offset-3" style="text-align: center">
                            <button type="submit" class="btn btn-success btn-block btn-lg" href="{:U('Ad/Index/doPost')}" style="outline: none">{:L('_AD_SUBMIT_LABEL_')}
                            </button>
                        </div>
                    </div>
                </form>

            </div>
            <div class="aline" style="margin-bottom: 35px"></div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    交易须知
                </div>
                <div class="panel-body">
                    在您发起交易请求后，比特币被锁定在托管中，受到BitcoinWorld保护。 如果您是买家，发起交易请求后，您应在90分钟内付款并把交易标记为付款已完成。卖家在收到付款后将会放行处于托管中的比特币。

                    交易前请阅读《BitcoinWorld网络服务条款》以及常见问题、交易指南等帮助文档。

                    当心骗子！交易前请检查该用户收到的评价，并对新近创建的账户多加留意。

                    请注意，四舍五入和价格的波动可能会影响最终成交的比特币数额。您输入的固定数额决定最后数额，比特币金额将在请求发布的同一时间由即时的汇率算出。

                    托管服务保护网上交易的买卖双方。在发生争议的情况下，我们将评估所提供的所有信息，并将托管的比特币放行给其合法所有者。
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-3" style="z-index: 99">
        <include file="_right"/>
    </div>
</block>

<block name="script">

</block>










