<extend name="Base/common"/>

<block name="style">
    <link href="__CSS__/event.css" rel="stylesheet" type="text/css"/>
</block>
<block name="header">
    <include file="_nav"/>
</block>
<block name="body">
    <div class="forum_module" style="min-height: 800px;background: none;">
        <div class="col-xs-12">
            <div class="input-group input-group-lg" style="margin-left: 145px">
                <span class="input-group-addon">搜广告</span>
                <div style="float: left;">
                    <select name="country" class="select2" style="width: 200px">
                        <volist name="country" id="top">
                            <option value="{$top.id}" >
                                {$top.code} {$top.name}
                            </option>
                        </volist>
                    </select>
                    <select name="currency" class="select2" style="width: 200px">
                        <volist name="currency" id="top">
                            <option value="{$top.id}" >
                                {$top.code} {$top.name}
                            </option>
                        </volist>
                    </select>
                    <select name="pay_type" class="select2" style="width: 200px">
                        <volist name="payType" id="top">
                            <option value="{$top.id}" >
                                {$top.code} {$top.name}
                            </option>
                        </volist>
                    </select>
                </div>
                <a href="javascript:;" class="btn-search" style="float: left;text-align: center"><span><i class="icon icon-search icon-1x"></i>搜索</span></a>
            </div>
            <table class="table table-striped table-hover">
                <thead style="text-align: center;">
                <tr>
                    <th style="vertical-align: middle;">卖家</th>
                    <th style="vertical-align: middle;">信誉</th>
                    <th style="vertical-align: middle;">支付方式</th>
                    <th style="vertical-align: middle;">价格</th>
                    <th style="vertical-align: middle;">限额</th>
                    <th style="vertical-align: middle;"></th>
                </tr>
                </thead>
                <tbody>
                <volist name="adList" id="vo">
                    <tr>
                        <php>
                            $img = substr($vo['path'],0,strlen($vo['path'])-4);$img.='_64_64';
                            $minPrice = number_format($vo['min_price']);
                            $maxPrice = number_format($vo['max_price']);
                            $price = number_format($vo['price'],2);
                        </php>
                        <td style="vertical-align: middle;"><a href="{:U('Ucenter/index/information',array('uid'=>$vo['uid']))}"><img src="__ROOT__/Uploads/Avatar/{$img}.jpg" class="img-circle" style="padding-right: 10px">{$vo.nickname}</a></td>
                        <td style="vertical-align: middle;">{$vo.trade_count}笔交易;{$vo.trade_score}%</td>
                        <td style="vertical-align: middle">{$vo.payName}</td>
                        <td style="vertical-align: middle;color: #0C7F12"><b>{$price} {$vo.currency}</b></td>
                        <td style="vertical-align: middle">{$minPrice}-{$maxPrice} {$vo.currency}</td>
                        <php>
                            $params = '';
                            if($vo['type'] == 1){
                                $title = "购买";
                                $params = 'sellonline-';
                            }else if($vo['type'] == 2){
                                $title = "出售";
                                $params = 'buyonline-';
                            }else if($vo['type'] == 3){
                                $title = "购买";
                                $params = 'selllocal-';
                            }else if($vo['type'] == 4){
                                $title = "出售";
                                $params = 'buylocal-';
                            }
                            $params.=$vo['payEn']."-".$vo['countryEn'];
                        </php>
                        <td style="vertical-align: middle"><a class="btn btn-primary" href="tradead/{$vo.id}/{$params}" target="_blank">{$title}</a></td>
                    </tr>
                </volist>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <div class="pull-right">

        </div>
    </div>
    <link rel="stylesheet" href="__CSS__/select2.css">
    <script src="__JS__/select2.js"></script>
    <link rel="stylesheet" href="__CSS__/components.css">
    <link rel="stylesheet" href="__CSS__/style.css">
    <script>
        $(function(){
            $(".select2").select2();
        })
    </script>
</block>











