<extend name="Base/common"/>

<block name="style">
    <link href="__CSS__/event.css" rel="stylesheet" type="text/css"/>
</block>
<block name="header">
    <include file="_nav"/>
</block>
<block name="body">
    <div class="forum_module" style="min-height: 800px;background: none;">
        <div class="col-xs-12">
            <div class="input-group input-group-lg" style="margin-left: 65px">
                <form id="search" action="new" method="get">
                    <div style="float: left;">
                        <select name="type" class="select2" style="width: 200px">
                            <option value="0" <if condition="$type eq 0">selected</if>>
                                所以交易类型
                            </option>
                            <option value="1" <if condition="$type eq 1">selected</if>>
                                在线出售
                            </option>
                            <option value="2" <if condition="$type eq 2">selected</if>>
                                在线购买
                            </option>
                            <option value="3" <if condition="$type eq 3">selected</if>>
                                本地出售
                            </option>
                            <option value="4" <if condition="$type eq 4">selected</if>>
                                本地购买
                            </option>
                        </select>
                        <select name="country" class="select2" style="width: 200px">
                            <volist name="country" id="top">
                                <option value="{$top.id}" <if condition="$defaultCountry eq $top['id']">selected</if>>
                                {$top.code} {$top.name}
                                </option>
                            </volist>
                        </select>
                        <select name="currency" class="select2" style="width: 200px">
                            <volist name="currency" id="top">
                                <option value="{$top.code}" <if condition="$defaultCurrency eq $top['code']">selected</if>>
                                {$top.code}
                                </option>
                            </volist>
                        </select>
                        <select name="pay_type" class="select2" style="width: 200px">
                            <option value="0">
                                所有付款方式
                            </option>
                            <volist name="payType" id="top">
                                <option value="{$top.id}" <if condition="$pay_type eq $top['id']">selected</if>>
                                    {$top.name}
                                </option>
                            </volist>
                        </select>
                    </div>
                    <a href="javascript:void(0)" class="btn-search" style="float: left;text-align: center" onclick="document.getElementById('search').submit();"><span><i class="icon icon-search"></i>搜索</span></a>
                </form>
            </div>
            <table class="table table-striped table-hover">
                <thead style="text-align: center;">
                <tr>
                    <th style="vertical-align: middle;">卖家</th>
                    <th style="vertical-align: middle;">信誉</th>
                    <th style="vertical-align: middle;">支付方式</th>
                    <th style="vertical-align: middle;">价格</th>
                    <th style="vertical-align: middle;">限额</th>
                    <th style="vertical-align: middle;"></th>
                </tr>
                </thead>
                <tbody>
                <volist name="adList" id="vo">
                    <tr>
                        <php>
                            $avatar = query_avatar($vo['uid']);
                            if($avatar){
                            $img = substr($avatar['path'],0,strlen($avatar['path'])-4);$img.='_64_64.jpg';
                            }else{
                            $img = 'default_64_64.jpg';
                            }
                            $minPrice = number_format($vo['min_price']);
                            $maxPrice = number_format($vo['max_price']);
                            $price = number_format($vo['price'],2);
                            $pay = query_pay($vo['pay_type']);
                            $payName = '';
                            foreach ($pay as $item){
                            $payName .= $item['name'].',';
                            }
                            $payName = substr($payName,0,strlen($payName)-1);
                        </php>
                        <td style="vertical-align: middle;"><a href="{:U('Ucenter/index/information',array('uid'=>$vo['uid']))}"><img src="__ROOT__/Uploads/Avatar/{$img}" class="img-circle" style="padding-right: 10px">{$vo.nickname}</a></td>
                        <td style="vertical-align: middle;">{$vo.trade_count}笔交易;{$vo.trade_score}%</td>
                        <td style="vertical-align: middle">{$payName}</td>
                        <td style="vertical-align: middle;color: #0C7F12"><b>{$price} {$vo.currency}</b></td>
                        <td style="vertical-align: middle">{$minPrice}-{$maxPrice} {$vo.currency}</td>
                        <php>
                            $params = '';
                            if($vo['type'] == 1){
                                $title = "购买";
                                $params = 'sellonline-';
                            }else if($vo['type'] == 2){
                                $title = "出售";
                                $params = 'buyonline-';
                            }else if($vo['type'] == 3){
                                $title = "购买";
                                $params = 'selllocal-';
                            }else if($vo['type'] == 4){
                                $title = "出售";
                                $params = 'buylocal-';
                            }
                            $params.=$pay[0]['en_name']."-".$vo['countryEn'];
                        </php>
                        <td style="vertical-align: middle"><a class="btn btn-primary" href="tradead/{$vo.id}/{$params}" target="_blank">{$title}</a></td>
                    </tr>
                </volist>
                </tbody>
            </table>
        </div>
    </div>
    <div>
    </div>
    <link rel="stylesheet" href="__CSS__/select2.css">
    <script src="__JS__/select2.js"></script>
    <link rel="stylesheet" href="__CSS__/components.css">
    <link rel="stylesheet" href="__CSS__/style.css">
    <script>
        $(function(){
            $(".select2").select2();
        })
    </script>
</block>











