<link rel="stylesheet" href="__CSS__/circle.css">
<div class="card-wrap one-circle">
    <div class="circle-cover-wrap">
        <img src="__IMG__/nobody.jpg" alt="" title="社群封面">
    </div>
    <div class="circle-info-wrap">
        <div class="info-box">圈子名称</div>
        <div class="info-box" style="color: #999">这里有最新的更新动态更新动态更新动态更新动态更新动态</div>
        <div class="info-box box-num"><span>成员30</span><span>讨论3000</span></div>
    </div>
    <div class="circle-follow" style="margin-left: 10px">
        <a href="javascript:" class="btn-follow" style="width: 95%;text-decoration: none">
            <i class="icon-plus"></i>
            关注
        </a>
    </div>
</div>