.page-sidebar-menu > .nav-item > .sub-menu .heading h4 {
  padding: 10px 8px;
  color: #708096;
  margin: 0;
  font-size: 14px;
}
.page-sidebar-menu.page-sidebar-menu-hover-submenu > li:hover > .sub-menu > li > a {
  padding-left: 27px;
}
@media (min-width: 992px) {
  .content-wrapper,
  .right-side,
  .main-footer {
    margin-left: 155px;
  }
  .main-sidebar,
  .left-side {
    width: 155px;
  }
  .main-header .logo {
    width: auto;
    padding-left: 4px;
    padding-right: 35px;
  }
  .main-header > .navbar {
    margin-left: 155px;
  }
}
.sidebar-menu .treeview-menu > li {
  color: #8aa4af;
}
.sidebar-mini:not(.sidebar-collapse) .sidebar-menu > li > .treeview-menu {
  z-index: 1000;
}
.sidebar-mini:not(.sidebar-collapse) .sidebar-menu > li > .treeview-menu .heading {
  color: #8aa4af;
}
.sidebar-toggle:before {
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif !important;
}
/*
 * Component: Sidebar Mini
 */
