.weibo-bar {
  border-top: 1px solid #eee;
  height: auto;
  line-height: normal;
  padding: 5px 0;
  background-color: #fff!important;
}
.weibo-bar ul li {
  margin: 0!important;
}
.weibo-bar ul li a {
  border: none;
  text-align: center;
  margin: 0!important;
  padding: 0!important;
  color: #959595;
  font-size: 14px;
}
.container {
  padding: 0;
}
body {
  padding-bottom: 0!important;
  background-color: #fff!important;
}
a:hover,
a:active,
a:visited,
a:link {
  text-decoration: none!important;
}
.cur {
  border-bottom: 2px #00a2d4 solid;
}
.am-nav > li > a:hover,
.am-nav > li > a:focus {
  text-decoration: none;
  background-color: #fff!important;
}
@media all and (max-width: 320px) {
  .weibo-bar img {
    width: 25px!important;
  }
  .weibo-bar a {
    font-size: 12px!important;
  }
}
