<extend name="Public/base"/>
<block name="header">
    <div class="title">OpenSNS微社区升级工具</div>
</block>

<block name="body">

    <div class="container">
        <p>当前版本：<span>{:file_get_contents('./Data/version.ini')}</span></p>
        <p>升级版本：<span>1.5.0</span></p>
        <div class="be-careful">
            <h2 class="be-careful-title">升级须知</h2>
            <p>1.警告：升级有风险，请务必 <span><strong>备份数据库</strong></span>。如因未备份数据库导致数据丢失，OpenSNS不负责任。</p>
            <p>2.警告：二次开发过得系统，请自行研究 <span>/m/update.sql</span>中的语句，而不要执行工具本身。</p>
            <p>3.升级过程中，不要关闭本页面。</p>
            <p>4.如果升级失败，请联系OpenSNS官方人员。</p>
            <p>5.如果您担心自行升级出现问题无法解决，可联系OpenSNS客户经理，购买人工代升级服务。</p>
            <p>人工代升级服务收费标准：500元/次。</p>
        </div>
    </div>




</block>

<block name="footer">
    <h3 class="ensure">我未二次开发过，且明确升级的风险</h3>
    <!--<a class="btn btn-primary btn-block btn-large" href="{:U('Index/update')}" data-role="update">同意安装协议</a>-->
    <a class="btn btn-primary btn-block btn-large" data-role="update">执行升级</a>

</block>

<block name="script">

</block>