<extend name="Base/common"/>
<block name="css">
    <link rel="stylesheet" href="__CSS__/index.css"/>
</block>
<block name="body">
    <div class="page-group" >
        <div class="page page-current pageSearch">
            <header class="bar bar-nav comHead">
                <div class="searchbar">
                    <div class="search-input">
                        <label class="icon icon-search" for="search"></label>
                        <input type="search" id='search' placeholder='{$result[0][title]}'/>
                    </div>
                </div>
                <a href="javascript:history.go(-1);">取消</a>
            </header>
            <div class="content">
                <div class="content-block noEdge">
                    <div class="hot">
                        <div class="hotTop">
                            <span data-role="hotSearch" class="hot-search">热门搜索</span>
                            <span data-role="change" class="shua"><i  class="iconfont icon-shuaxin"></i>换一批</span>
                        </div>
                        <div class="hotTag" data-role="hotChange">
                            <volist name="result" id="val">
                                <a  href="{:U('Event/index/detail',array('id'=>$val['id']))}"> <span>{$val.title}</span></a>
                            </volist>
                        </div>
                        <div class="e-list" data-role="" >
                            <ul data-role="event-list" class="event-list" data-total="{$total}" data-type="{$type.id}">
                            </ul>
                            <div class="infinite-scroll-preloader" style="display: none">
                                <div class="preloader"></div>
                            </div>
                        </div>
                        <div class="hotTop search-head" data-role='search-head'>
                            <span data-role="hotSearch" class="hot-search">搜索历史</span>
                            <span onclick="allclear()"><i  class="iconfont icon-delete"></i></span>
                        </div>
                        <ul class="history hotTag" id="myHistory">
                            <include file="_history"/>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script src="__JS__/search.js"></script>
</block>