<extend name="Base/common"/>

<block name="style">
    <link href="__CSS__/new-login.css" type="text/css" rel="stylesheet">

</block>2
<block name="header">
    <br/>
</block>
<block name="body">
    <div class="all-box">
        <form action="__SELF__" method="post" class="lg_lf_form ">
            <div class="login-wrap">
                <p class="head">登 录</p>
                <!--用户名输入-->
                <div class="input-box">
                    <input type="text" placeholder="请输入账号"  name="username">
                </div>
                <!--密码输入-->
                <div class="input-box" id="password_block">
                    <input type="password" placeholder="{:L('_NEW_PW_INPUT_')}" name="password">
                    <i onclick="change_show(this)" class="icon-eye-open open-close"></i>
                </div>
                <!--双重验证码输入-->
                <div id="verify" class="input-box" style="display: none">
                    <input type="text" placeholder="{:L('_GOOGLE_VER_')}" name="verify">
                </div>
                <div class="clearfix form-group">
                    <div class="col-xs-6" style="padding-left: 0">
                        <label style="color: #848484;font-weight: normal">
                            <a class="l-around" href="{:U('ucenter/member/register')}">还没注册？点击注册</a>
                        </label>
                    </div>
                    <div class="col-xs-6 text-right" style="padding-right: 0">
                        <div class=""><a class="" href="{:U('Member/mi')}"
                                         style="color: #848484;font-size: 12px;">{:L('_FORGET_PW_')}{:L('_QUESTION_')}</a>
                        </div>
                    </div>
                </div>
                <input name="from" type="hidden" value="<php>echo $_SERVER['HTTP_REFERER']</php>">
                <php>
                    session('login_http_referer',$_SERVER['HTTP_REFERER']);
                </php>
                <div class="yes-wrap form-group text-right">
                    <button type="submit" class="login-btn">{:L('_LOGIN_SPACE_')}</button>
                </div>
            </div>
        </form>
    </div>
</block>



<block name="script">
    <script type="text/javascript">
        var quickLogin = "{$login_type}";
        $(document)
            .ajaxStart(function () {
                $("button:submit").addClass("log-in").attr("disabled", true);
            })
            .ajaxStop(function () {
                $("button:submit").removeClass("log-in").attr("disabled", false);
            });

        $("input[name='username']").blur(function () {
            var username = $(this).val();
            if(username.length > 6){
                $.post("{:U('ucenter/member/checkGooglever')}", {username:username}, function (res) {
                    if(res == 1){
                        $("#verify").css('display','block');
                    }
                    else if(res == 0){
                        $("#verify").css('display','none');
                    }
                })
            }
        })

        function change_show(obj) {
            if ($(obj).hasClass('icon-eye-open')) {
                var value = $('#inputPassword').val().trim();
                var html = '<input type="text" value="' + value + '" id="inputPassword"  placeholder="'+"{:L('_NEW_PW_INPUT_')}"+'" errormsg="'+"{:L('_PW_ERROR_')}"+'" nullmsg="'+"{:L('_PW_INPUT_ERROR_')}"+'" datatype="*6-30" name="password">' +
                    '<i onclick="change_show(this)" class="icon-eye-close open-close">';
                $('#password_block').html(html);
            } else {
                var value = $('#inputPassword').val().trim();
                var html = '<input type="password" value="' + value + '" id="inputPassword"  placeholder="'+"{:L('_NEW_PW_INPUT_')}"+'" errormsg="'+"{:L('_PW_ERROR_')}"+'" nullmsg="'+"{:L('_PW_INPUT_ERROR_')}"+'" datatype="*6-30" name="password">' +
                    '<i onclick="change_show(this)" class="icon-eye-open open-close">';
                $('#password_block').html(html);
            }
        }

        $(function () {
            $("form").submit(function () {
                toast.showLoading();
                var self = $(this);
                $.post(self.attr("action"), self.serialize(), success, "json");
                return false;
                function success(data) {
                    if (data.status) {
                        if (data.url==undefined&&quickLogin == "quickLogin") {
                            toast.success("{:L('_WELCOME_RETURN_')}{:L('_PERIOD_')}"+data.info, "{:L('_TIP_GENTLE_')}");
                            setTimeout(function () {
                                window.location.reload();
                            }, 1500);
                        } else {
                            toast.success("{:L('_WELCOME_RETURN_REDIRECTING_')}"+data.info, "{:L('_TIP_GENTLE_')}");
                            setTimeout(function () {
                                window.location.href = data.url;
                            }, 1500);
                        }
                    }else if(data.info == -1){
                        $("#verify").css('display','block');
                    }
                    else {
                        toast.error(data.info, "{:L('_TIP_GENTLE_')}");
                        //self.find(".Validform_checktip").text(data.info);
                        //刷新验证码
                        $(".reloadverify").click();
                    }
                    toast.hideLoading();
                }
            });
            var verifyimg = $(".verifyimg").attr("src");
            $(".reloadverify").click(function () {
                if (verifyimg.indexOf('?') > 0) {
                    $(".verifyimg").attr("src", verifyimg + '&random=' + Math.random());
                } else {
                    $(".verifyimg").attr("src", verifyimg.replace(/\?.*$/, '') + '?' + Math.random());
                }
            });
        });
    </script>
</block>
