<extend name="Base/common"/>

<block name="style">
    <link href="__CSS__/new-login.css" type="text/css" rel="stylesheet">

</block>2
<block name="header">
    <br/>
</block>
<block name="body">
    <div class="all-box" s>
        <form action="__SELF__" method="post" class="lg_lf_form ">
            <div class="login-wrap" style="height: 330px">
                <p class="head">注 册</p>
                <div class="input-box">
                    <input type="text" placeholder="用户名"  name="username">
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Email"  name="email">
                </div>
                <div class="input-box" id="password_block">
                    <input type="password" placeholder="{:L('_PASSWORD_')}" name="password">
                </div>
                <div class="input-box" id="password_block">
                    <input type="password" placeholder="{:L('_PASSWORD_TWO_')}" name="repassword">
                </div>
                <div class="clearfix form-group">
                    <div class="col-xs-6" style="padding-left: 0">
                        <label style="color: #848484;font-weight: normal">
                            <a class="l-around" href="{:U('ucenter/member/login')}">已有账号？点击登录</a>
                        </label>
                    </div>
                    <div class="col-xs-6 text-right" style="padding-right: 0">
                        <div class=""><a class="" href="{:U('Member/mi')}"
                                         style="color: #848484;font-size: 12px;">{:L('_FORGET_PW_')}{:L('_QUESTION_')}</a>
                        </div>
                    </div>
                </div>
                <input name="from" type="hidden" value="<php>echo $_SERVER['HTTP_REFERER']</php>">
                <php>
                    session('login_http_referer',$_SERVER['HTTP_REFERER']);
                </php>
                <div class="yes-wrap form-group text-right">
                    <button type="submit" class="login-btn">{:L('_REGISTER_SPACE_')}</button>
                </div>
            </div>
        </form>
    </div>
</block>



<block name="script">
    <script type="text/javascript">
        $(function () {
            $(".login-btn").click(function () {
                var username  = $("input[name='username']").val();
                var email  = $("input[name='email']").val();
                var password  = $("input[name='password']").val();
                var repassword  = $("input[name='repassword']").val();
                if(username != '' && email != '' ){
                    if (password != repassword){
                        toast.error('两次密码不一致!');
                        return false;
                    }
                }
            });
        });
        $(function () {
            $("form").submit(function () {
                toast.showLoading();
                var self = $(this);
                $.post(self.attr("action"), self.serialize(), success, "json");
                return false;
                function success(data) {
                    if (data.status) {
                        toast.success('注册成功，请登录邮箱进行激活');
                        setTimeout(function () {
                            window.location.href = data.url;
                        }, 1500);
                    }else if(data.info == -1){
                        $("#verify").css('display','block');
                    }
                    else {
                        toast.success(data.info);
                    }
                    toast.hideLoading();
                }
            });
        });
    </script>
</block>
