<extend name="Base/common"/>
<block name="css">
    <link rel="stylesheet" href="__CSS__/weibo.css"/>
    <link rel="stylesheet" href="__CSS__/topic.css"/>
</block>
<block name="body">
    <div class="page-group">
        <div class="page page-current">
            <header class="bar bar-nav comHead">
                <header class="bar bar-nav comHead">
                    <a class="iconfont icon-xiangzuojiantou pull-left button button-link back"
                       href="javascript:history.go(-1);"></a>
                    <a href="javascript:" class="title">#{$topic.name|longTopicName}#</a>
                    <!--<a class="iconfont icon-add pull-right button button-link back"-->
                       <!--href="{:U('Weibo/Topic/editTopic',array('id'=>$topic['id']))}"></a>-->
                </header>
            </header>
            <include file="./Application/Common/View/default/Public/footer.html"/>
            <div class="gray content pull-to-refresh-content infinite-scroll infinite-scroll-bottom" data-ptr-distance="55"
                 data-distance="100">
                <!-- 默认的下拉刷新层 -->
                <div class="pull-to-refresh-layer">
                    <div class="preloader"></div>
                    <div class="pull-to-refresh-arrow"></div>
                </div>

                <!--社区头部信息S-->
                <if condition="empty($crowd_detail)">
                    <div class="circleInfo circle">
                        <li class="one info">
                            <a external href="{:U('Weibo/Index/index', array('crowd_id'=>$crowd_detail['id']))}">
                                <div class="avatar">
                                    <img src="<if condition='$vo.logo neq 0'>{$vo.logo|getThumbImageById=180,180}<else/>__IMG__/topicavatar.png</if>" alt="">
                                </div>
                            </a>
                            <div class="name">
                                <a class="textMore" external href="{:U('Weibo/Index/index', array('crowd_id'=>$crowd_detail['id']))}">#{$topic.name|longTopicName}#</a>
                                <p class="location textMore">{:L('_LEAD_')}：{:modC('MOB_SITE_INTRO','未填写话题简介~','Config')}</p>
                                <a href="javascript:void(0);">
                                    <p class="num">{$topic.read_count|default='0'} {:L('_READ_')}  {$topic.weibo_num|default='0'} 讨论</p>
                                </a>

                            </div>

                            <a href="javascript:" class="follow" data-value="{$status}" data-role="topic-follow">
                                <if condition="$status eq 0">
                                    {:L('_FOLLOW_')}
                                    <else/>
                                    {:L('_UN_FOLLOW_')}
                                </if>
                            </a>
                        </li>
                        <volist name="top" id="top">
                            <div class="rules">
                                <a class="rLeft" href="{:U('detail',array('id'=>$top['id']))}">
                                    <i class="iconfont icon-guizhangzhidu"></i>
                                    {$top.title}
                                </a>
                                <notempty name="can_cancel_top_feed">
                                    <a class="rRight" data-role="cancel_top" data-id="{$top.id}" style="padding-right: 10px">X</a>
                                </notempty>
                            </div>
                        </volist>
                    </div>
                </if>
                <!--社区头部信息E-->

                <!--圈子头部信息-->
                <if condition="!empty($crowd_detail)">
                    <div class="circleInfo circle">
                        <li class="one info">
                            <a external href="{:U('Weibo/Index/index', array('crowd_id'=>$crowd_detail['id']))}">
                                <div class="avatar">
                                    <img src="{$crowd_detail.logo|getThumbImageById=130,130}" alt="">
                                </div>
                            </a>
                            <div class="name">
                                <a external href="{:U('Weibo/Index/index', array('crowd_id'=>$crowd_detail['id']))}">{$crowd_detail.title}</a>
                                <p class="location textMore">{$crowd_detail.intro}</p>
                                <p class="num">
                                    <span><i class="iconfont icon-fensi"></i>{$crowd_detail.member_count}</span>
                                    <span><i class="iconfont icon-groupcopy5"></i>{$crowd_detail.post_count}</span>
                                </p>
                            </div>
                            <if condition="$crowd_detail.is_admin eq 'true'">
                                <a external href="{:U('Weibo/Crowd/crowdManager', array('id' => $crowd_detail['id']))}"
                                   class="follow">
                                    管理
                                </a>
                                <else/>
                                <switch name="crowd_detail.is_follow">
                                    <case value="0">
                                        <a href="javascript:" class="follow"
                                        <gt name="data.need_pay" value="0">data-toggle="modal"
                                            data-target="#myModal{$crowd_detail.id}"
                                            <else/>
                                            data-role="follow_crowd" data-id="{$crowd_detail.id}"
                                        </gt>
                                        >
                                        加入
                                        </a>
                                    </case>
                                    <case value="1">
                                        <a href="javascript:" class="follow" data-role="unfollow_crowd"
                                           data-id="{$crowd_detail.id}">
                                            已加入
                                        </a>
                                    </case>
                                    <case value="2">
                                        <a href="javascript:" class="follow" data-id="{$crowd_detail.id}">
                                            待审核
                                        </a>
                                    </case>
                                    <case value="-2">
                                        <a href="javascript:" class="follow"
                                        <gt name="data.need_pay" value="0">data-toggle="modal"
                                            data-target="#inviteModal{$crowd_detail.id}"
                                            <else/>
                                            data-role="follow_crowd" data-id="{$crowd_detail.id}"
                                        </gt>
                                        >
                                        被邀请
                                        </a>
                                    </case>
                                    <default/>
                                    <a href="javascript:" class="follow" data-role="follow_crowd"
                                       data-id="{$crowd_detail.id}">
                                        加入
                                    </a>
                                </switch>
                            </if>

                        </li>
                        <p class="textMore cSign">{$crowd_detail.notice}</p>

                        <volist name="crowd_top" id="top">
                            <div class="rules">
                                <a class="rLeft" href="{:U('detail',array('id'=>$top['id']))}">
                                    <i class="iconfont icon-guizhangzhidu"></i>
                                    {$top.title}
                                </a>
                                <notempty name="can_cancel_top_crowd_feed">
                                    <a class="rRight" data-role="cancel_top" data-id="{$top.id}"style="padding-right: 10px">X</a>
                                </notempty>
                            </div>
                        </volist>
                    </div>
                    <script>
                        sessionStorage.setItem('crowd_id',{$crowd_detail.id});
                        sessionStorage.setItem('crowd_title',"{$crowd_detail.title}");
                    </script>
                    <else/>
                    <script>
                        sessionStorage.clear();
                    </script>
                </if>
                <!--圈子头部信息-->

                <div class="content-block proList" data-type="{$type}" data-crowd-id="{$crowd_id}" data-topic-id="{$topic.id}">
                    <empty name="weibo">
                        <div class="noWeibo">还没有动态~</div>
                        <else/>
                        <include file="Index/_list"/>
                    </empty>
                </div>
                <gt name="first_weibo_num" value="9">
                    <!-- 加载提示符 -->
                    <div class="infinite-scroll-preloader">
                        <div class="preloader"></div>
                    </div>
                </gt>
            </div>
            <!--发布按钮-->

            <a class="sBtn iconfont icon-fabu" href="javascript:" data-role="chose-type"></a>

        </div>
    </div>
</block>
<block name="other">
    <div class="panel-overlay"></div>
    <div class="popup popup-about">
        <div class="triangle"></div>
        <div class="content-block typeList">
            <volist name="tab_type" id="types">
                <p id="{$types}">
                    <if condition="$types eq 'huati'">
                        <a href="{:U('Weibo/Topic/topic', array('type' => $types))}" class="close-popup">
                            <else/>
                            <a href="{:U('Weibo/Index/index', array('type' => $types))}" class="close-popup">
                    </if>

                    <i class="iconfont icon-{$types}"></i>
                    {$types|parse_weibo_type_title}
                    </a>
                </p>
            </volist>
            <div>------------- 圈子 -------------</div>

            <volist name="crowds" id="crowd">
                <p id="{$crowd.id}"><a href="{:U('Weibo/Index/index', array('crowd_id' => $crowd['id']))}" class="close-popup"><i
                        class="iconfont "></i>{$crowd.title}</a></p>
            </volist>



        </div>
    </div>

    <div class="popup popup-repost sendWrap">
        <div class="content-block">
            <form id="repost">
                <input type="hidden" name="weiboId" value="">
                <input type="hidden" name="sourceId" value="">
                <input type="hidden" name="type" value="repost">
                <textarea placeholder="转发动态..." class="sendArea" rows="3" name="content"></textarea>
                <div class="commentOp">
                    <label class="pull-left" style="margin-top: 4px">
                        <input type="checkbox" name="becomment">
                        <span>同时评论动态</span>
                    </label>
                    <a href="javascript:" data-role="repost" data-id="{$weibo.id}"
                       class="proBtn close-popup-repost">转发</a>
                </div>
            </form>
        </div>
    </div>

    <!--选择发布类型-->
    <div class="popup  proType">
        <div class="content-block noEdge">
            <div class="close-popup closeBottom">X</div>
            <div class="typeWrap">
                <a href="{:is_login()?U('Index/sendweibo',array('topid'=>$topic['id'])):"javascript:$.toast('请登录~')"}">
                <div class="oneType">
                    <div class="iconWrap"><i class="iconfont icon-wenzi"></i></div>
                    <p>文字</p>
                </div>
                </a>
                <a href="{:is_login()?U('Index/sendArticle'):"javascript:$.toast('请登录~')"}">
                <div class="oneType">
                    <div class="iconWrap" style="background-color: #F06C5D"><i class="iconfont icon-wenzhang"></i></div>
                    <p>文章</p>
                </div>
                </a>
                <a href="{:is_login()?U('Index/redbag'):"javascript:$.toast('请登录~')"}">
                <div class="oneType">
                    <div class="iconWrap" style="background-color: #fb9f3c"><i class="iconfont icon-hongbao"></i></div>
                    <p>红包</p>
                </div>
                </a>
                <a href="{:is_login()?U('Voice/index'):"javascript:$.toast('请登录~')"}">
                <div class="oneType">
                    <div class="iconWrap" style="background-color: #fb9f3c"><i class="iconfont icon-icon15"></i></div>
                    <p>语音动态</p>
                </div>
                </a>
            </div>
        </div>
    </div>
</block>
<block name="script">
    <script src="__JS__/weibo.js"></script>
    <script src="__PUBLIC_JS__/public.js"></script>
    <script src="//cdn.bootcss.com/emojione/2.2.7/lib/js/emojione.min.js"></script>
    <script>
        emojione.imageType = 'png';
        emojione.ascii = true;
        emojione.imagePathPNG = _ROOT_ + '/Public/emoji/';
        $(function () {
            $('.parse_content').each(function () {
                $(this).html(emojione.toImage($(this).html()))
            });
        });
        $("[data-role='chose-type']").click(function () {
            $.popup('.proType')
        });
        $('[data-role="topic-follow"]').click(function () {
            var topic_id={$topic['id']};
            var url=U('Weibo/Topic/followTopic');
            var status=$(this).attr('data-value');
            $.post(url,{topic_id:topic_id,status:status},function (msg) {
                if(msg.status)
                {
                    if(status==1){
                        $('[data-role="topic-follow"]').html('信任') ;
                        $('[data-role="topic-follow"]').attr('data-value',0);
                        toast.success(L('_CANCEL_')+L('_FOLLOW_')+msg.info);
                    }else{
                        $('[data-role="topic-follow"]').html('已信任') ;
                        $('[data-role="topic-follow"]').attr('data-value',1);
                        toast.success(L('_FOLLOW_')+msg.info);
                    }
                }else{
                    toast.error(msg.info);
                }
            })
        })
    </script>
</block>
