<extend name="Base/common"/>
<block name="css">
    <link rel="stylesheet" href="__CSS__/completion.css"/>
</block>
<block name="body">
    <div class="page-group" >
        <div class="page page-current" style="background-color: #fff">
            <header class="bar bar-nav comHead">
                <a class="iconfont icon-xiangzuojiantou pull-left button button-link back"
                   href="javascript:history.go(-1);"></a>
                <a href="javascript:" class="title">提现详情</a>
            </header>
            <div class="content">
                <div class="card" style="margin: 2rem .5rem;">
                    <div class="card-header">提现申请已提交</div>
                    <div class="card-content">
                        <div class="card-content-inner">
                            <div class="time">
                            <img src="__IMG__/time.png">
                            </div>
                            <p>提现金额：￥{$draw.amount}</p>
                            <p>提现类型：{$draw.type}提现</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <span>创建时间：{$draw.create_time|time_format}</span>
                        <span>创建人：{$draw.nickname}</span>
                    </div>
                </div>
                <a class="sure" href="{:U('ucenter/index/wallet')}">完成</a>
            </div>
        </div>
    </div>
</block>
