<extend name="Base/common"/>
<block name="css">
    <link rel="stylesheet" href="__CSS__/message.css"/>
</block>
<block name="body">
    <div class="page-group">
        <div class="page page-current">
            <header class="bar bar-nav comHead">
                <a href="javascript:" class="title">发现</a>
            </header>
            <include file="./Application/Common/View/default/Public/footer.html"/>
            <div class="content me">
                <div class="content-block noEdge">

                </div>
            </div>
        </div>
    </div>
</block>