<div id="adv_{$pos.id}" class="adv-wrap" style="padding: {$pos.padding};margin:{$pos.margin};">
    <div class="text-left " style="height:100%;">
        <if condition="count($list) gt 0">
            <switch name="pos.style">
                <case value="2">
                    <script src="__PUBLIC__/ext/kinmaxshow/js/kinmaxshow.min.js"></script>
                    <div style="width:100%">
                        <div id="slide_{$pos.id}" style="display: none">
                            <volist name="list" id="vo">
                                <div>
                                    <a href="{$vo.url}" target="_blank" title="{$vo.title}" style="width: 100%">
                                        <img style="width:100%" src="{$vo.pic|pic}"
                                             alt="{$vo.title}" class="img-responsive" >
                                    </a>
                                </div>
                            </volist>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            var h_s = "{$pos.height}";
                            $("#slide_{$pos.id}").kinMaxShow({height: h_s});
                            $("#slide_{$pos.id}").fadeIn();
                        })
                    </script>
                </case>
                <default />
                <div class="main_visual"  style="width:100%;">
                    <div class="main_image" >
                        <div class="swiper-container" style="padding-bottom: 0" data-space-between='10' data-pagination='.swiper-pagination' data-autoplay="6000">
                            <div class="swiper-wrapper" style="margin-right: 0;">
                                 <volist name="list" id="vo">
                                     <div class="swiper-slide" > <a style="width:100%;height:100%;" href="{$vo.url}" title="{$vo.title}" target="_blank"><img  style="width:100%;height:{$pos.height};"
                                                                                                                                                   src="{$vo.pic|pic}"
                                        alt="{$vo.title}" class="img-responsive"></a></div>
                                 </volist>
                            </div>
                        <div class="swiper-pagination swiper-pagination-bullets" >
                            <volist name="list" id="vo">
                                <span class="swiper-pagination-bullet" style="margin: 0 5px;"></span>
                            </volist>
                        </div>
                    </div>
                </div>
            </switch>
        </if>
    </div>
</div>