<div class="announce" data-role="AnnounceModel">
    <div class="ann-body">
        <div>
            <h1 class="ann-b-title">{$announce.title}</h1>
            <div class="ann-content">
                {$announce.content}
            </div>
        </div>
    </div>
    <div class="ann-footer">
        <neq name="announce.link" value="">
            <a type="button" data-role="set-announce-arrive" class="btn btn-default ann-button">
                取消
            </a>
            <a type="button" data-role="set-announce-arrive" data-url="{$announce['link']}" class="btn btn-default ann-button">
            查看详情
            </a>
        <else/>
            <a type="button" data-role="set-announce-arrive" class="btn btn-default ann-button">
            了解
            </a>
        </neq>
    </div>
</div>
<div class="announce-hide"></div>
<script src="__PUBLIC__/js/announce.js"></script>
<script>
    var announce_id="{$announce['id']}";
    var hide_box = $('.announce-hide') ;
    var content_box = $('[data-role="AnnounceModel"]') ;
    $(function(){
        hide_box.fadeIn(500) ;
        content_box.fadeIn(500) ;
        $('[data-role="set-announce-arrive"]').click(function(){
            un_show_announce();
            var url=$(this).attr('data-url');
            if(url!=undefined){
                window.open(url);
            }
            hide_box.fadeOut(500) ;
            content_box.fadeOut(500) ;
        });
    });

    var un_show_announce=function(){
        if(is_login()){
            $.post(U('Core/Announce/setArrive'),{announce_id:announce_id});
        }else{
            //设置已读未登录状态记录
            var unShowAnnounceList=$.cookie('announce_already_list');
            unShowAnnounceList=un_show_announce_list(unShowAnnounceList,announce_id);
            $.cookie('announce_already_list',unShowAnnounceList);
        }
        //设置已读记录
        var unShowAnnounceIds=$.cookie('announce_cookie_ids');
        unShowAnnounceIds=un_show_announce_ids(unShowAnnounceIds,announce_id);
        $.cookie('announce_cookie_ids',unShowAnnounceIds);

        //设置cookie有效期为10秒，确定这段时间不再读新的公告
        var date=new Date();
        date.setTime(date.getTime()+10*1000);
        $.cookie('announce_un_show_now',1,{expires:date});
        return true;
    }
    var un_show_announce_ids=function(unShow, id) {
        var newArr = [];
        if(unShow!=undefined){
            var attachArr = unShow.split('|');
            for (var i in attachArr) {
                if (attachArr[i] !== ''&&attachArr[i]!== id.toString()) {
                    newArr.push(attachArr[i]);
                }
            }
        }
        newArr.push(id);
        unShow=newArr.join(',');
        return unShow;
    }
    var un_show_announce_list=function(unShow, id) {
        var newArr = [];
        if(unShow!=undefined){
            var attachArr = unShow.split('|');
            for (var i in attachArr) {
                if (attachArr[i] !== '') {
                    var oneAnnounce=attachArr[i].split(':');
                    if(oneAnnounce[0] !== id.toString()){
                        newArr.push(attachArr[i]);
                    }
                }
            }
        }
        var timestamp = Date.parse(new Date());
        oneAnnounce=[id,timestamp];
        oneAnnounce=oneAnnounce.join(':');
        newArr.push(oneAnnounce);
        unShow=newArr.join('|');
        return unShow;
    };
</script>