<php>if($is_following && !$is_self){</php>
<button type="button" class="{$after|default='btn btn-default'}" id="follow" data-after="{$before|default='btn btn-default'}"  data-before="{$after|default='btn btn-primary'}" data-role="unfollow" data-follow-who="{$follow_who}" data-follow-type="1" style="width: 65px;{$hide}">
    {:L('_CANCEL_')}{:L('_FOLLOWERS_')}
</button>
<php>}elseif(!$is_following && !$is_self){</php>
<button type="button" class="{$before|default='btn btn-primary'}" id="follow" data-after="{$before|default='btn btn-default'}"  data-before="{$after|default='btn btn-primary'}"  data-role="follow" data-follow-who="{$follow_who}" data-follow-type="1" style="width: 65px;{$hide}">
    {:L('_FOLLOWERS_')}{:L('_USER_')}
</button>
<php>}</php>

